<main class="d-flex justify-content-center px-3">
  <section class="w-100">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center py-3">
      <h2 class="pb-2 pb-md-0 title-employees">Atendentes</h2>
      <input class="input-employees" placeholder="Busque o atendente por nome ou cpf" type="text">
    </div>

    <div class="py-2">
      <table class="table table-responsive">
        <tr class="text-nowrap text-center">
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Celular</th>
          <th></th>
        </tr>
        <tr *ngFor="let employee of employees?.data | paginate: { itemsPerPage: employees?.perPage, currentPage: page, totalItems: employees?.total }" class="text-nowrap text-center font-500" [routerLink]="['/companies/edit-employee', employee.id ]">
          <td>{{ employee?.user.name }}</td>
          <td>{{ employee?.user.cpf |mask: '000.000.000-00' }}</td>
          <td>{{ employee?.user.email }}</td>
          <td>{{ employee?.user.cel |mask: '(00) 00000-0000' }}</td>
          <td>
            <img src="assets/images/arrow-down.svg" alt="Arrow Left">
          </td>
        </tr>
        <tr>
          <td *ngIf="employees?.total == 0" colspan="7">
            Nenhuma solicitação encontrada.
          </td>
      </tr>
      </table>
      <div class="d-flex mb-3">
        <div class="mb-3 mb-md-0">
          <p class="mb-0 font-500 font-size15px">
              Total de atendentes: {{employees?.total}}
          </p>
      </div>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div class="mb-4 mb-lg-0">
          <button class="btn btn-primary px-lg-5" routerLink="/companies/register-employee">Cadastrar Atendente</button>
        </div>
        <pagination-controls
            class="my-pagination"
            (pageChange)="changePage($event)"
            previousLabel="Anterior"
            nextLabel="Próxima">
        </pagination-controls>
    </div>
    </div>
  </section>
</main>
<full-spinner></full-spinner>
