<div class="p-3">
    <!-- <img
        *ngIf="showBackButton"
        src="assets/images/back.svg"
        id="backBtn"
        (click)="showSignin()"
    > -->
    <!-- <p class="mb-0">Voltar</p> -->
</div>
<div class="d-flex justify-content-center py-5 my-4">
    <img src="assets/images/rebox.png" routerLink="/" style="cursor: pointer;">
</div>
