<main class="d-flex justify-content-center px-3 pb-4">
  <section class="px-4">
    <div>
      <p class="text-center font-600">
        {{service?.created_at | date: 'dd/MM/yyyy - HH:mm': 'PDT'}}
      </p>
      <p>
        <span class="font-700">
          Cliente:
        </span>
        {{service?.use_plan.user.name}}
      </p>
      <p>
        <span class="font-700">
          Telefone:
        </span>
        {{service?.use_plan.user.cel | mask: '(00) 0 0000-0000'}}
      </p>

      <hr>

    </div>

    <div>
      <p>
        <span class="font-700">
         Tipo de serviço:
        </span>
        {{service?.use_plan.description}}
      </p>
    </div>

    <div class="border mb-3">
      <p class="font-600 p-3 pb-2 mb-0">
        <span>
          <img src="assets/images/location.svg">
        </span> Endereço:
      </p>
      <p class="px-3">
        {{service?.address}}
      </p>
    </div>

    <div class="mb-3">
      <p>
        <span class="font-700">
          Status:
        </span>
        {{service?.status === 'repassado'? 'Pendente': service?.status | titlecase}}
      </p>
    </div>

    <div *ngIf="service?.partner" class="mb-3">
      <p>
        <span class="font-700">
          Prestador:
        </span>
        {{service?.partner.company_name | titlecase}}
      </p>
    </div>

    <div *ngIf="service?.status !== 'confirmado' && service?.status !== 'finalizado'" class="px-4 mt-4">

      <button class="font-600 btn btn-primary w-100 mb-3" (click)="onSubmit()">
        Aceitar
      </button>
      <button class="font-600 btn btn-danger w-100 mb-3"(click)="recuseService()">
        Recusar
      </button>
    </div>
    <div *ngIf="service?.status === 'confirmado'" class="px-4 mt-4">
      <button class="font-600 btn btn-primary w-100 mb-3" data-toggle="modal" data-target="#finish" >
        Finalizar serviço
      </button>
    </div>
  </section>
</main>

<div class="modal fade" id="finish" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content px-3">
      <div class="modal-body text-center pb-0">
        <h5 class="font-700">
          Deseja finalizar este serviço ?
        </h5>
      </div>
      <div class="modal-footer justify-content-center p-4">
        <button class="btn btn-primary w-100" (click)="finishService()" data-dismiss="modal">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>


<!-- <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content px-3">
      <div class="modal-body text-center pb-0">
        <h5 class="font-700">
          Dados adicionais
        </h5>
      </div>
      <div class="modal-footer justify-content-center p-4">
        <div class="d-flex justify-content-center">
          <h6 class="font-600">Qual é a previsão de chegada?</h6>
        </div>
        <form [formGroup]="confirmForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" class="form-control border-0 py-4 my-3 b-shadow" name="forecast"
              placeholder="Previsão (hh:mm)" formControlName="forecast" mask="00:00">
          </div>
          <div class="form-group">
            <input type="text" class="form-control border-0 py-4 my-3 b-shadow" name="name_partner"
              placeholder="Nome do motorista" formControlName="name_partner">
          </div>
          <button class="btn btn-primary w-100" type="submit">
            Confirmar
          </button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<full-spinner></full-spinner>
