.title-reports {
  color: #07359B;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.68px;
}

.report {
  color: #07359B;
  font-size: 24px;
}

img {
  width: 77px;
  height: 52px;
}

@media(max-width: 343.9px) {
  h2 {
    font-size: 26px;
  }
  .report {
    font-size: 20px;
  }
}

@media(max-width: 1280.9px) and (min-width: 992px) {
  .report {
    font-size: 17px;
  }
  img {
    width: 60px;
  }
}
