<app-header></app-header>
<section class="p-2 p-lg-5">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center flex-column w-100">
      <h6 class="plan-title">Planos</h6>
      <span class="plan-subtitle text-center">Planos em até 12x sem juros no cartão ou boleto.</span>
      <div class="row justify-content-center align-items-center mt-5">
        <div class="d-flex flex-column justify-content-center align-items-center mx-md-5 mb-5 mb-md-0 px-4 px-lg-0">
          <div class="icon-circle">
            <img src="assets/images/calendar_plan.svg" alt="">
          </div>
          <span class="plan-type mt-2">Vigência <br /> Anual</span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mx-md-5 mb-5 mb-md-0 px-4 px-lg-0">
          <div class="icon-circle">
            <img src="assets/images/clock.svg" alt="">
          </div>
          <span class="plan-type mt-2">Carência <br /> de 72 horas</span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mx-md-5 mb-5 mb-md-0 px-4 px-lg-0">
          <div class="icon-circle">
            <img src="assets/images/car_plan.svg" alt="">
          </div>
          <span class="plan-type mt-2">Carros de <br /> até 20 anos</span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mx-md-5 mb-5 mb-md-0 px-4 px-lg-0">
          <div class="icon-circle">
            <img src="assets/images/money_plan.svg" alt="">
          </div>
          <span class="plan-type mt-2">Sem taxa <br /> de adesão</span>
        </div>
      </div>
    </div>

  </div>
  <div class="row my-5">
    <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch flex-lg-row">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <div
          class="plan-border col-lg-12 d-flex flex-column justify-content-center align-items-center shadow bg-white rounded py-4">
          <div class="d-flex flex-column justify-content-center align-items-center border-bottom pb-4 w-100">
            <div class="ribbon ribbon-top-right">
              <span>Mais vendido</span>
            </div>
            <h6 class="plans">Rebox Auto</h6>
            <span class="price-stripe my-3">R$ 24,90 /mês</span>
            <h4 class="plans-price"><strong>R$19,90</strong> /mês</h4>
            <span class="plan-annual text-center">Plano anual: <strong>R$ 238,80</strong></span>
            <h4 class="plans-validity mt-3">Número de utilizações: até 03 utilizações na vigência</h4>
          </div>
          <div class="d-flex flex-column px-5">
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Reboque em caso de pane/acidentes: <strong>03 utilizações (até 100km)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Socorro Mecânico: <strong>03 utilizações (até 100km)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Recuperação de veículo em caso de acidente/pane: <strong>03 utilizações (até 100km)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Troca de pneu: <strong>03 utilizações (até R$150,00)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Pane seca (falta de combustível): <strong>03 utilizações (até 100km)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Chaveiro Auto: <strong>03 utilizações (até R$ 150,00)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Hospedagem: <strong>03 utilizações (até R$100,00)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Carga na bateria: <strong>03 utilizações (até 60km)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Rede de descontos em <strong>oficinas e autopeças</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Rede de descontos em <strong>lojas e faculdades</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Rede de descontos em <strong>farmácias</strong>
            </span>
          </div>
          <div class="col-lg-8 mt-4">
            <button class="btn btn-primary w-100" (click)="next(1)">Contrate agora</button>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div
          class="plan-border col-lg-12 d-flex flex-column justify-content-center align-items-center shadow bg-white rounded py-4">
          <div class="d-flex flex-column justify-content-center align-items-center border-bottom pb-4 w-100">
            <h6 class="plans">Rebox Auto+</h6>
            <span class="price-stripe my-3">R$ 40,90 /mês</span>
            <h4 class="plans-price"><strong>R$34,90</strong> /mês</h4>
            <span class="plan-annual text-center">Plano anual: <strong>R$ 418,80</strong></span>
            <h4 class="plans-validity mt-3">Número de utilizações: até 03 utilizações na vigência</h4>
          </div>

          <div class="d-flex flex-column px-5">
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Reboque em caso de pane/acidentes: <strong>03 utilizações (até 100km)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Carro reserva: <strong>02 utilizações (72h de uso para cada utilização) </strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Socorro Mecânico: <strong>03 utilizações (até 100km)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Recuperação de veículo em caso de acidente/pane: <strong>03 utilizações (até 100km)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Troca de pneu: <strong>03 utilizações (até R$150,00)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Pane seca (falta de combustível): <strong>03 utilizações (até 100km)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Chaveiro Auto: <strong>03 utilizações (até R$ 150,00)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Hospedagem: <strong>03 utilizações (até R$100,00)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Carga na bateria: <strong>03 utilizações (até 60km)</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Rede de descontos em <strong>oficinas e autopeças</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Rede de descontos em <strong>lojas e faculdades</strong>
            </span>
            <span class="plans-description my-3">
              <img src="assets/images/check-mark.svg" class="mr-2">
              Rede de descontos em <strong>farmácias</strong>
            </span>
          </div>
          <div class="col-lg-8 mt-4">
            <button class="btn btn-primary px-5 w-100" (click)="next(2)">Contrate agora</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Modal Rede de Descontos em oficinas-->
<div class="modal fade bd-example-modal-lg" id="discountNetworkWorkshop" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-center align-items-center px-2 px-lg-5">
        <h6 class="title-modal text-center">Rede de descontos em oficinas e autopeças</h6>
        <div class="row mt-4 w-100">
          <div class="col-lg-12 d-flex flex-column flex-lg-row justify-content-center">
            <div class="discount-network col-lg-5 p-2 p-lg-4">
              <div class="d-flex">
                <img src="assets/images/user.svg">
                <div class="d-flex flex-column align-items-center">
                  <span class="ml-2">Dinamicar Pneus</span>
                  <span class="location ml-2">
                    <img src="assets/images/location.svg">
                    Av das Américas, 4059
                  </span>
                </div>
              </div>
              <div class="border-top mt-4">
                <h6 class="service pt-2">Serviços:</h6>
                <span class="service-type">Troca de Óleo</span>
              </div>
            </div>
            <div class="discount-network col-lg-5 p-2 p-lg-4 ml-lg-4 mt-4 mt-lg-0">
              <div class="d-flex">
                <img src="assets/images/user.svg">
                <div class="d-flex flex-column align-items-center">
                  <span class="ml-2">Dinamicar Pneus</span>
                  <span class="location ml-2">
                    <img src="assets/images/location.svg" width="18" height="24">
                    Av das Américas, 4059
                  </span>
                </div>
              </div>
              <div class="border-top mt-4">
                <h6 class="service pt-2">Serviços:</h6>
                <span class="service-type">Troca de Óleo</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 w-100">
          <div class="col-lg-12 d-flex flex-column flex-lg-row justify-content-center">
            <div class="discount-network col-lg-5 p-2 p-lg-4">
              <div class="d-flex">
                <img src="assets/images/user.svg">
                <div class="d-flex flex-column align-items-center">
                  <span class="ml-2">Dinamicar Pneus</span>
                  <span class="location ml-2">
                    <img src="assets/images/location.svg" width="18" height="24">
                    Av das Américas, 4059
                  </span>
                </div>
              </div>
              <div class="border-top mt-4">
                <h6 class="service pt-2">Serviços:</h6>
                <span class="service-type">Troca de Óleo</span>
              </div>
            </div>
            <div class="discount-network col-lg-5 p-2 p-lg-4 ml-lg-4 mt-4 mt-lg-0">
              <div class="d-flex">
                <img src="assets/images/user.svg">
                <div class="d-flex flex-column align-items-center">
                  <span class="ml-2">Dinamicar Pneus</span>
                  <span class="location ml-2">
                    <img src="assets/images/location.svg" width="18" height="24">
                    Av das Américas, 4059
                  </span>
                </div>
              </div>
              <div class="border-top mt-4">
                <h6 class="service pt-2">Serviços:</h6>
                <span class="service-type">Troca de Óleo</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 w-100">
          <div class="col-lg-12 d-flex flex-column flex-lg-row justify-content-center">
            <div class="discount-network col-lg-5 p-2 p-lg-4">
              <div class="d-flex">
                <img src="assets/images/user.svg">
                <div class="d-flex flex-column align-items-center">
                  <span class="ml-2">Dinamicar Pneus</span>
                  <span class="location ml-2">
                    <img src="assets/images/location.svg" width="18" height="24">
                    Av das Américas, 4059
                  </span>
                </div>
              </div>
              <div class="border-top mt-4">
                <h6 class="service pt-2">Serviços:</h6>
                <span class="service-type">Troca de Óleo</span>
              </div>
            </div>
            <div class="discount-network col-lg-5 p-2 p-lg-4 ml-lg-4 mt-4 mt-lg-0">
              <div class="d-flex">
                <img src="assets/images/user.svg">
                <div class="d-flex flex-column align-items-center">
                  <span class="ml-2">Dinamicar Pneus</span>
                  <span class="location ml-2">
                    <img src="assets/images/location.svg" width="18" height="24">
                    Av das Américas, 4059
                  </span>
                </div>
              </div>
              <div class="border-top mt-4">
                <h6 class="service pt-2">Serviços:</h6>
                <span class="service-type">Troca de Óleo</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Fim Modal Rede de Descontos em oficinas-->

<!--Modal Rede de Descontos em faculdades-->
<div class="modal fade bd-example-modal-lg" id="discountNetwork" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-center align-items-center px-2 px-lg-5">
        <h6 class="title-modal text-center">Rede de descontos em lojas e faculdades</h6>
        <div class="row mt-4 w-100">
          <div class="col-lg-12 d-flex flex-column flex-lg-row justify-content-center">
            <div class="discount-network col-lg-5 p-2 p-lg-4">
              <img src="assets/images/user.svg">
              <span class="ml-2">Universidade Veiga de Almeida</span>
            </div>
            <div class="discount-network col-lg-5 p-2 p-lg-4 ml-lg-4 mt-4 mt-lg-0">
              <img src="assets/images/user.svg">
              <span class="ml-2">Universidade Veiga de Almeida</span>
            </div>
          </div>
        </div>
        <div class="row mt-4 w-100">
          <div class="col-lg-12 d-flex flex-column flex-lg-row justify-content-center">
            <div class="discount-network col-lg-5 p-2 p-lg-4">
              <img src="assets/images/user.svg">
              <span class="ml-2">Universidade Veiga de Almeida</span>
            </div>
            <div class="discount-network col-lg-5 p-2 p-lg-4 ml-lg-4 mt-4 mt-lg-0">
              <img src="assets/images/user.svg">
              <span class="ml-2">Universidade Veiga de Almeida</span>
            </div>
          </div>
        </div>
        <div class="row mt-4 w-100">
          <div class="col-lg-12 d-flex flex-column flex-lg-row justify-content-center">
            <div class="discount-network col-lg-5 p-2 p-lg-4">
              <img src="assets/images/user.svg">
              <span class="ml-2">Universidade Veiga de Almeida</span>
            </div>
            <div class="discount-network col-lg-5 p-2 p-lg-4 ml-lg-4 mt-4 mt-lg-0">
              <img src="assets/images/user.svg">
              <span class="ml-2">Universidade Veiga de Almeida</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Fim Modal Rede de Descontos-->
