section {
  background-size: cover;
  background: transparent url('../../../../assets/images/background-white.svg') no-repeat center padding-box;

}

.plan-title {
  color: #1A1A1A;
  font-size: 32px;
  font-weight: bold;
}

.plan-subtitle {
  color: #1A1A1A;
  font-size: 16px;
  max-width: 554px;
  width: 100%;
}

.plans {
  background: #053AC1 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  border-radius: 80px;
  padding: 8px 38px;
  text-transform: uppercase;
  z-index: 1;
  text-align: center;
}

.plans-price {
  color: #053AC1;
  font-size: 30px;
  text-align: center;
}

.plans-price strong {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.plans-description {
  color: #1A1A1A;
  font-size: 14px;
}

.plans-description strong {
  font-weight: 500;
}

.title-modal {
  color: #07359B;
  font-size: 32px;
  font-weight: bold;
}

.discount-network {
  border: 0.6000000238418579px solid #9B9B9B;
  border-radius: 10px;
}

.discount-network img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.discount-network span {
  font-size: 18px;
  font-weight: bold;
  color: #1A1A1A;
}

.location {
  color: #1A1A1A !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

.location img {
  width: 18px !important;
  height: 24px !important;
}

.service {
  color: #07359B;
  font-size: 18px;
  font-weight: 500;
}

.service-type {
  color: #1A1A1A !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.icon-circle {
  background: #E6EDFF 0% 0% no-repeat padding-box;
  width: 104px;
  height: 99px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle img {
  width: 53px;
  height: 50px;
}

.plan-type {
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.plan-border {
  border: 1px solid #053AC1;
  border-radius: 10px;
}

.price-stripe {
  text-decoration: line-through;
  color: #333333;
  font-size: 21px;
}

.plan-annual {
  color: #1A1A1A;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.24px;
}

.plan-annual strong {
  color: #053AC1;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: -0.33px;
}

.plans-validity {
  color: #053AC1;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.4px;
  text-align: center;
  max-width: 320px;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #23B700;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color:#23B700;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 14px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}



@media(max-width: 768.9px) {
  .discount-network img {
    height: 40px;
    width: 40px;
  }

  .plan-subtitle {
    max-width: 300px;
  }

  .discount-network span {
    font-size: 14px;
  }

  .ribbon {
    display: none;
  }
}
