h2 {
  font-size: 28px;
  color: #07359B;
  text-transform: uppercase;
}

:focus {
  outline: none;
}

input {
  border: 1px solid #4D4D4D;
  color: #4D4D4D;
  font: normal normal normal 11px/11px Montserrat;
  border-radius: 30px;
  width: 278px;
  height: 27px;
  padding-left: 30px;
  background: url('../../../../../assets/images/icon_search.svg');
  background-repeat: no-repeat;
  background-position: 4% 50%;
}



tr:nth-child(1) {
  background: #F8F8F8;
  color: #07359B;
  font-size: 14px;
}

tr {
  transition: .2s;
}

tr:nth-child(1n + 2) {
  border-bottom: 1px solid #DCDCDC;
  font-size: 14px;
  color: #1A1A1A;
  font-weight: normal;
}

tr:nth-child(1n + 2):hover {
  background: #F1F8F9;
  cursor: pointer;
}

td {
  height: 58px;
  vertical-align: middle;
}

.bg-red {
  color: red;
}

.bg-green {
  color: green;
}

.bg-yellow {
  color: #FAB100;
}

.bg-blue {
  color: #07359B;
}

.arrow-right {
  width: 11px;
  height: 7px;
  transform: rotate(270deg);

  opacity: 1;
}

@media(min-width: 992px) {
  table {
    display: table;
  }
}
