<main class="p-5">
  <section class="d-flex flex-column justify-content-center align-items-center">
    <h6 class="title">Meu Plano</h6>
    <div *ngIf="planId === 1" class="plan-border col-lg-5 d-flex flex-column justify-content-center align-items-center shadow bg-white rounded py-4">
      <div class="d-flex flex-column justify-content-center align-items-center border-bottom pb-4 w-100">
        <div class="ribbon ribbon-top-right">
          <span>Mais vendido</span>
        </div>
        <h6 class="plans">Rebox Auto</h6>
        <span class="price-stripe my-3">R$ 24,90 /mês</span>
        <h4 class="plans-price"><strong>R$19,90</strong> /mês</h4>
        <span class="plan-annual text-center">Plano anual: <strong>R$ 238,80</strong></span>
        <h4 class="plans-validity mt-3">Número de utilizações: até 03 utilizações na vigência</h4>
      </div>
      <div class="d-flex flex-column px-5">
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Reboque em caso de pane/acidentes: <strong>03 utilizações (até 100km)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Socorro Mecânico: <strong>03 utilizações (até 100km)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Recuperação de veículo em caso de acidente/pane: <strong>03 utilizações (até 100km)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Troca de pneu: <strong>03 utilizações (até R$150,00)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Pane seca (falta de combustível): <strong>03 utilizações (até 100km)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Chaveiro Auto: <strong>03 utilizações (até R$ 150,00)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Hospedagem: <strong>03 utilizações (até R$100,00)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Carga na bateria: <strong>03 utilizações (até 60km)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Rede de descontos em <strong>oficinas e autopeças</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Rede de descontos em <strong>lojas e faculdades</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Rede de descontos em <strong>farmácias</strong>
        </span>
      </div>
      <div class="col-lg-8 mt-4">
        <button class="btn btn-danger w-100" (click)="removePlan()">Cancelar plano</button>
      </div>
    </div>
    <div *ngIf="planId === 2"
      class="plan-border col-lg-5 d-flex flex-column justify-content-center align-items-center shadow bg-white rounded py-4">
      <div class="d-flex flex-column justify-content-center align-items-center border-bottom pb-4 w-100">
        <h6 class="plans">Rebox Auto+</h6>
        <span class="price-stripe my-3">R$ 40,90 /mês</span>
        <h4 class="plans-price"><strong>R$34,90</strong> /mês</h4>
        <span class="plan-annual text-center">Plano anual: <strong>R$ 418,80</strong></span>
        <h4 class="plans-validity mt-3">Número de utilizações: até 03 utilizações na vigência</h4>
      </div>

      <div class="d-flex flex-column px-5">
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Reboque em caso de pane/acidentes: <strong>03 utilizações (até 100km)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Carro reserva: <strong>02 utilizações (72h de uso para cada utilização) </strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Socorro Mecânico: <strong>03 utilizações (até 100km)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Recuperação de veículo em caso de acidente/pane: <strong>03 utilizações (até 100km)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Troca de pneu: <strong>03 utilizações (até R$150,00)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Pane seca (falta de combustível): <strong>03 utilizações (até 100km)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Chaveiro Auto: <strong>03 utilizações (até R$ 150,00)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Hospedagem: <strong>03 utilizações (até R$100,00)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Carga na bateria: <strong>03 utilizações (até 60km)</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Rede de descontos em <strong>oficinas e autopeças</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Rede de descontos em <strong>lojas e faculdades</strong>
        </span>
        <span class="plans-description my-3">
          <img src="assets/images/check-mark.svg" class="mr-2">
          Rede de descontos em <strong>farmácias</strong>
        </span>
      </div>
      <div class="col-lg-8 mt-4">
        <button class="btn btn-danger w-100" (click)="removePlan()">Cancelar plano</button>
      </div>
    </div>
    <div *ngIf="!planId" class="d-flex flex-column justify-content-center align-items-center py-5">
      <span class="font-size21px">Você não possui nenhum plano ativo.</span>
    </div>
  </section>
</main>

<full-spinner></full-spinner>

<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-5">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h6 class="title-modal">Tem certeza que deseja cancelar seu plano?</h6>
          <div class="row justify-content-center align-items-center mt-3 w-100">
            <div class="col-lg-8">
              <button class="btn btn-danger w-100">Cancelar</button>
            </div>
            <div class="col-lg-8">
              <button class="btn btn-primary mt-3 w-100" data-dismiss="modal">Voltar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
