<div class="ml-5 mb-2">
  <p class="mb-0 font-600 font-size18px d-flex align-items-center" (click)="back()" *ngIf="source" style="cursor: pointer;">
      <span class="mr-1" style="transform: translateY(-2px);">
          <img src="assets/images/left-arrow.svg" style="width: 15px; height: auto;">
      </span> {{source}}
  </p>
</div>
