<main class="w-100">
  <form [formGroup]="requestTowForm" class="mb-5">
    <div class="row">
      <div class="col-sm-12 col-lg-5">
        <div class="col-md-12 col-lg-12 shadow bg-white rounded p-4">
          <h6 class="title">Novo Chamado</h6>
          <div class="mt-3 p-3">
            <div class="row px-2">
              <label class="mb-4 text-nowrap label-container" (change)="changeTow($event)">
                <input type="radio" id="tow" name="service" [value]="false" checked>
                <span class="span-checkmark"></span>
                Reboque avulso
              </label>
              <label class="ml-lg-3 mb-4 text-nowrap label-container" (change)="changeTow($event)">
                <input type="radio" id="tow" name="service" [value]="true">
                <span class="span-checkmark"></span>
                Reboque plano
              </label>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-12 d-flex flex-column pl-2">
                <label for="name">Nome do Cliente:</label>
                <input type="text" name="name" class="form-control-edit" id="name" formControlName="name">
                <div *ngIf="requestTowForm.get('name').touched && requestTowForm.get('name').invalid">
                  <span class="small text-danger">Nome é obrigatório.</span>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control-edit" id="email" formControlName="email">
                <div *ngIf="requestTowForm.get('email').touched && requestTowForm.get('email').invalid">
                  <span class="small text-danger">Email é obrigatório.</span>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
                <label for="phone">Telefone:</label>
                <input type="text" name="phone" class="form-control-edit" id="phone" mask="(00) 0 0000-0000"
                  formControlName="cel">
                <div *ngIf="requestTowForm.get('cel').touched && requestTowForm.get('cel').invalid">
                  <span class="small text-danger">Telefone é obrigatório.</span>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-12 col-lg-12 d-flex flex-column pl-2">
                <label for="origin">Origem:</label>
                <input type="text" #placesRef name="origin" id="originGps" formControlName="origin"
                  class="form-control-edit font-500" ngx-google-places-autocomplete [options]='options'
                  (onAddressChange)="setOrigin($event)" (keyup)="originFocus($event.target.value)">
                <div *ngIf="requestTowForm.get('origin').touched && requestTowForm.get('origin').invalid">
                  <span class="small text-danger">Origem é obrigatório.</span>
                </div>
              </div>
              <div class="col-sm-12 col-lg-12 d-flex flex-column pl-2 mt-3">
                <label for="destiny">Destino:</label>
                <input type="text" #placesRef name="destiny" id="destinyGps" formControlName="destiny"
                  class="form-control-edit font-500" ngx-google-places-autocomplete [options]='options'
                  (onAddressChange)="setDestiny($event)" (keyup)="destinyFocus($event.target.value)">
                <div *ngIf="requestTowForm.get('destiny').touched && requestTowForm.get('destiny').invalid">
                  <span class="small text-danger">Destino é obrigatório.</span>
                </div>
              </div>
            </div>
            <div *ngIf="!towByPlan" formGroupName="vehicle" class="row mt-4 ">
              <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
                <label for="brand">Marca do veículo:</label>
                <ng-select placeholder="Marca do veículo" [items]="carBrands" [virtualScroll]="true" bindLabel="brand"
                  bindValue="brand" class="form-control wheel-bg font-500 w-100" style="height: unset;"
                  formControlName="brand" (search)="getCarBrands($event)" (change)="getCarModels($event)"></ng-select>
                <div
                  *ngIf="requestTowForm.get('vehicle').get('brand').touched && requestTowForm.get('vehicle').get('brand').invalid">
                  <span class="small text-danger">Marca é obrigatória.</span>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
                <label for="brand">Modelo do veículo:</label>
                <ng-select placeholder="Modelo do veículo" [items]="carModels" [virtualScroll]="true" bindLabel="model"
                  bindValue="model" class="form-control wheel-bg font-500 w-100" style="height: unset;"
                  formControlName="model" (search)="getCarModels($event)" (change)="setPortCar($event)"></ng-select>
                <div
                  *ngIf="requestTowForm.get('vehicle').get('model').touched && requestTowForm.get('vehicle').get('model').invalid">
                  <span class="small text-danger">Modelo é obrigatório.</span>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2 mt-3">
                <label for="board">Placa do veículo:</label>
                <input type="text" name="board" class="form-control-edit" id="board" mask="SSS-0A00"
                  (keyup)="requestTowForm.get('vehicle').get('board').patchValue($event.target.value.toUpperCase())"
                  formControlName="board">
                <div
                  *ngIf="requestTowForm.get('vehicle').get('board').touched && requestTowForm.get('vehicle').get('board').invalid">
                  <span class="small text-danger">Placa é obrigatória.</span>
                </div>
              </div>
            </div>
            <div *ngIf="!towByPlan" formGroupName="vehicle" class="row mt-3">
              <div class="col-lg-12 mt-2">
                <h6 class="title font-size12px">Blindado?</h6>
              </div>
              <div class="row m-0 mt-3">
                <label for="yes" class="label-container mr-4" (change)="checkArmored()">
                  Sim
                  <input type="radio" name="is_armored" id="yes">
                  <span class="span-checkmark"></span>
                </label>
                <label for="no" class="label-container" (change)="checkArmored()">
                  Não
                  <input type="radio" name="is_armored" id="no">
                  <span class="span-checkmark"></span>
                </label>
              </div>
              <div *ngIf="requestTowForm.get('vehicle').get('is_armored').invalid && isSubmitted"
                class="col-lg-12 mt-2 p-0">
                <span class="small text-danger">Blindagem é obrigatória.</span>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-12 d-flex flex-column shadow bg-white rounded p-4 mt-5 mt-lg-5 ml-sm-0 ml-lg-0">
          <h6 class="title font-size12px mb-3">Dados Adicionais</h6>
          <div class="row mt-3">
            <div class="col-lg-12 mt-2">
              <h6 class="text-center font-size21px">Oque houve com o veículo?</h6>
              <div>
                <div *ngFor="let diagnosticItem of diagnostics, let i = index"
                  (click)="diagnostic = diagnosticItem.id; diagnosticDescription = diagnosticItem.description">
                  <p class="mx-md-5 mx-lg-5 my-3 py-2 mb-0 text-center b-shadow pointer"
                    [ngClass]="{'btn-primary text-white font-500': diagnostic === diagnosticItem.id}">
                    {{diagnosticItem.description}}
                  </p>
                </div>
              </div>

              <div class="text-center mb-3">
                <h2 class="font-size21px">
                  Como é o local da remoção?
                </h2>
              </div>

              <div>
                <div *ngFor="let locationItem of locations, let i = index"
                  (click)="location = locationItem.id; locationDescription = locationItem.description">
                  <p class="mx-md-5 mx-lg-5 my-3 py-2 mb-0 text-center b-shadow pointer"
                    [ngClass]="{'btn-primary text-white font-500': location === locationItem.id}">
                    {{locationItem.description}}
                  </p>
                </div>
              </div>

              <div class="text-center mb-3">
                <h2 class="font-size21px">
                  Observações
                </h2>
              </div>

              <div class="d-flex justify-content-center mb-3 mx-lg-5">
                <textarea class="w-100" rows="5" formControlName="comments"></textarea>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <div *ngIf="!towByPlan" class="col-sm-12 col-md-12 col-lg-12 d-flex flex-column justify-content-center align-items-center shadow bg-white rounded p-4 mt-5 mt-lg-0 mb-5">
          <form class="d-flex flex-column align-items-center" [formGroup]="makeRequestTowForm" (ngSubmit)="onSubmit()">
            <h4 class="title text-center">Escolha a forma de pagamento</h4>
            <div class=" mt-4" (change)="changeValue()">
              <label class="label-container mr-3">
                <input type="radio" id="is_credit_card" name="payment_method" value="is_credit_card">
                <span class="span-checkmark"></span>
                Cartão de crédito
              </label>
              <label class="label-container mr-3">
                <input type="radio" id="is_debit_card" name="payment_method" value="is_debit_card">
                Cartão de débito
                <span class="span-checkmark"></span>
              </label>
              <label class="label-container">
                <input type="radio" id="is_cash" name="payment_method" value="is_cash">
                Dinheiro
                <span class="span-checkmark"></span>
              </label>
            </div>
            <div *ngIf="makeRequestTowForm.get('type_payment_mode').invalid && isSubmitted">
              <span class="small text-danger">Forma de pagamento é obrigatória.</span>
            </div>
          </form>
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-12 d-flex flex-column align-items-center shadow bg-white rounded p-4 ml-lg-0">
          <h6 class="title font-size12px mb-3">Valor</h6>
          <div>
            <h6 class="my-4 text-center">Valor do reboque: {{amount | currency: 'BRL'}}</h6>
            <button class="btn btn-primary px-5" (click)="calculateValue()">Calcular Valor</button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <button type="button" class="btn btn-danger col-lg-3" routerLink="/admin/new-request">Cancelar</button>
        <button type="button" class="btn btn-outline-primary col-lg-3 ml-sm-0 ml-md-0 ml-lg-4 mt-3 mt-md-3 mt-lg-0"
          data-toggle="modal" data-target="#modalExemplo">Agendar</button>
        <button type="button" class="btn btn-primary col-lg-3 ml-sm-0 ml-md-0 ml-lg-4 mt-3 mt-md-3 mt-lg-0 "
          (click)="onSubmit()">Pedir agora</button>
      </div>
    </div>
  </form>
</main>
<full-spinner></full-spinner>

<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="exampleModalLabel">Agendar reboque</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="scheduleForm">
          <div class="d-flex flex-column">
            <label for="">Agendar para:</label>
            <input type="date" class="form-control" formControlName="date">
          </div>
          <div class="d-flex flex-column mt-4">
            <label for="">Horário:</label>
            <input type="time" class="form-control" formControlName="time">
          </div>
        </form>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="schedule()" data-dismiss="modal">Agendar</button>
      </div>
    </div>
  </div>
</div>
