.info-box {
  background: #EBF0FF;
  border-radius: 5px;
}

tr:nth-child(1) {
  background: #F8F8F8;
  color: #07359B;
  font-size: 14px;
}

tr {
  transition: .2s;
}

tr:nth-child(1n + 2) {
  border-bottom: 1px solid #DCDCDC;
  font-size: 13px;
  color: #707070;
  font-weight: normal;
}

tr:nth-child(1n + 2):hover {
  background: #E5ECFF;
  cursor: pointer;
}


.requestAnimation {
  animation: notificationPendent 2.15s infinite ease-out;
}

td img {
  width: 10px;
}

.bg-red {
  color: red;
}

.bg-green {
  color: green;
}

.bg-yellow {
  color: #FAB100;
}

.bg-blue {
  color: #07359B;
}

.title-request {
  color: #07359B;
  font-weight: bold;
}

.arrow-right {
  transform: rotate(270deg);

  opacity: 1;
}

.nav-link {
  color: #07359B !important;
  font-weight: 500 !important;
}


@keyframes notificationPendent {
  0% {
    background-color: #FFF;
  }

  50% {
    background-color: #E5ECFF;
  }

  75% {
    background-color: #FFF;
  }
}

@media(min-width: 992px) {
  table {
    display: table;
  }
}
