<app-header></app-header>
<app-page-back source="Home"></app-page-back>
<main class="d-flex justify-content-center px-3">
    <section>
        <div class="text-center mb-3">
            <h2 class="font-size21px font-700">
                Seus dados
            </h2>
            <p class="font-size15px mb-0">
                Preencha as informações abaixo
            </p>
        </div>

        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="form-group" formGroupName="vehicle">
                <!-- <input type="text"
                    class="form-control wheel-bg font-500 w-100"
                    placeholder="Marca do veículo"
                    name="brand"
                    formControlName="brand"
                > -->
                <ng-select
                    placeholder="Marca do veículo"
                    [items]="carBrands"
                    [virtualScroll]="true"
                    bindLabel="brand"
                    bindValue="brand"
                    class="form-control wheel-bg font-500 w-100"
                    style="height: unset;"
                    formControlName="brand"
                    (search)="getCarBrands($event)"
                    (change)="getCarModels($event)"
                >
                </ng-select>
                <div *ngIf="signUpForm.get('vehicle').get('brand').touched && signUpForm.get('vehicle').get('brand').invalid">
                  <span class="small text-danger">Marca é obrigatória.</span>
                </div>
            </div>
            <div class="form-group" formGroupName="vehicle">
                <ng-select
                    placeholder="Modelo do veículo"
                    [items]="carModels"
                    [virtualScroll]="true"
                    bindLabel="model"
                    bindValue="model"
                    class="form-control wheel-bg font-500 w-100"
                    style="height: unset;"
                    formControlName="model"
                    (search)="getCarModels($event)"
                    (change)="setPortVehicle($event)"
                >
                </ng-select>
                <div *ngIf="signUpForm.get('vehicle').get('model').touched && signUpForm.get('vehicle').get('model').invalid">
                  <span class="small text-danger">Modelo é obrigatório.</span>
                </div>
                <!-- <input type="text"
                    class="form-control car-bg font-500 w-100"
                    placeholder="Modelo do veículo"
                    name="model"
                    formControlName="model"
                > -->
            </div>
            <div class="form-group" formGroupName="vehicle">
                <input type="text"
                    class="form-control number-bg font-500 w-100"
                    placeholder="Placa do veículo"
                    name="board"
                    formControlName="board"
                    (keyup)="vehicle.controls.board.patchValue($event.target.value.toUpperCase())"
                    mask="SSS-0A00"
                >
                <div *ngIf="signUpForm.get('vehicle').get('board').touched && signUpForm.get('vehicle').get('board').invalid">
                  <span class="small text-danger">Placa é obrigatória.</span>
                </div>
            </div>
            <div class="form-group">
                <input type="text"
                    class="form-control user-bg font-500 w-100"
                    placeholder="Nome completo"
                    name="name"
                    formControlName="name"
                >
                <div *ngIf="signUpForm.get('name').touched && signUpForm.get('name').invalid">
                  <span class="small text-danger">Nome é obrigatório.</span>
                </div>
            </div>
            <div class="form-group">
                <input type="text"
                    class="form-control email-bg font-500 w-100"
                    placeholder="Email"
                    name="email"
                    formControlName="email"
                    (keyup)="checkIfExists($event.target.value)"
                >
                <div *ngIf="signUpForm.get('email').touched && signUpForm.get('email').invalid">
                  <span class="small text-danger">Email é obrigatório.</span>
                </div>
            </div>
            <!-- <div class="form-group">
                <input type="password"
                    class="form-control password-bg font-500 w-100"
                    placeholder="Senha"
                    name="password"
                    formControlName="password"
                >
                <div *ngIf="signUpForm.controls.password.invalid && isSubmited" class="mt-2">
                    <p class="text-danger text-center font-600 font-size12px">
                        Necessário no mínimo 6 caracteres
                    </p>
                </div>
            </div> -->
            <div class="form-group">
                <input type="text"
                    class="form-control phone-bg font-500 w-100"
                    placeholder="Telefone"
                    name="cel"
                    formControlName="cel"
                    ngxPhoneMaskBr
                >
                <div *ngIf="signUpForm.get('cel').touched && signUpForm.get('cel').invalid">
                  <span class="small text-danger">Telefone é obrigatório.</span>
                </div>
            </div>
            <div class="form-group" formGroupName="vehicle">
                <label>Veículo blindado?</label>
                <div class="d-flex">
                    <label class="label-container mr-3">
                        <input type="radio" name="is_armored" value="1" formControlName="is_armored">
                        <span class="span-checkmark"></span>
                        Sim
                    </label>
                    <label class="label-container">
                        <input type="radio" name="is_armored" value="0" formControlName="is_armored">
                        Não
                        <span class="span-checkmark"></span>
                    </label>
                </div>
                <div *ngIf="signUpForm.get('vehicle').get('is_armored').invalid && isSubmited">
                  <span class="small text-danger">Campo é obrigatório.</span>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary py-2 font-600">
                    Continuar
                </button>
            </div>
        </form>
    </section>
</main>
