<app-header></app-header>

<main class="px-3">
  <section class="ml-lg-5 pl-lg-5 pt-lg-3">
    <div class="text-center mb-3">
      <h2 class="font-size21px font-700">
        Solicite seu reboque
      </h2>
      <p class="font-size15px mb-0">
        Simples, rápido e muito barato.
      </p>
    </div>

    <form (ngSubmit)="onSubmit()" class="mb-4 trackForm">
      <div class="form-group">

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <input type="text" #placesRef placeholder="Onde seu veículo está?" name="origin" id="origin" [(ngModel)]="origin"
              class="font-500 location-bg w-100 pb-4" ngx-google-places-autocomplete [options]='options'
              (onAddressChange)="setOrigin($event)" (keyup)="originFocus($event.target.value)"
            >

            <div class="d-none position-relative" id="originGps">
              <div class="position-absolute d-flex align-items-center py-1 w-100" id="gps-origin-box"
                (click)="getOriginLocation()">
                <span class="pl-2 pr-2">
                  <img src="assets/images/gps.svg" style="width: 10px; height: auto;">
                </span>
                <p class="font-size15px font-500 mb-0">
                  Localização atual
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-12 col-md-4">
            <input class="location-bg w-100 pb-4" id="origin_number" placeholder="Número" required>
          </div> -->
        </div>
        <hr class="mx-2 my-0">

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <input type="text" placeholder="Para onde quer levá-lo?" name="destiny" id="destiny" [(ngModel)]="destiny"
              class="font-500 compass-bg pb-4 w-100" ngx-google-places-autocomplete [options]='options'
              (onAddressChange)="setDestiny($event)" (keyup)="destinyFocus($event.target.value)">

            <div class="d-none position-relative mt-3" id="destinyGps">
              <div class="position-absolute d-flex align-items-center py-1 w-100" id="gps-destiny-box"
                (click)="getDestinyLocation()">
                <span class="pl-2 pr-2">
                  <img src="assets/images/gps.svg" style="width: 10px; height: auto;">
                </span>
                <p class="font-size15px font-500 mb-0">
                  Localização atual
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-12 col-md-4">
            <input type="text" class="compass-bg w-100 pb-4" placeholder="Número" required>
          </div> -->
        </div>

      </div>


      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary font-600 py-2 w-75">
          Solicitar
        </button>
      </div>
    </form>

    <div class="d-flex align-items-center justify-content-center mb-4 b-shadow bg-white">
      <div class=" d-flex align-items-center">
        <img src="assets/images/phone.svg" alt="Telefone" class="position-absolute">
      </div>
      <div class="text-center py-2">
        <p class="mb-0 font-size17px font-600">
          OU LIGUE
        </p>
        <p class="font-primary font-size25px font-600 mb-0">
          <a href="tel:0800 100 1100" class="font-primary font-size25px font-600 mb-0">0800 100 1100</a>
        </p>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center mb-4">
      <button class="btn btn-primary" routerLink="plans">Conheça nossos planos</button>
    </div>

  </section>


  <div class="d-none d-lg-block position-absolute px-5">
    <ul class="navbar-nav navbar-expand font-size15px">
      <li class="px-4 pointer font-500 bg-transparent" routerLink="/companies/signin">
        Para Prestadores
      </li>
      <li class="pointer font-500 bg-transparent" data-toggle="modal" data-target="#termsAndConditionsModal">
        Termos e Condições
      </li>
      <li class="px-4 pointer font-500 bg-transparent" data-toggle="modal" data-target="#privacyPolicyModal">
        Política de Privacidade
      </li>
      <li class="pointer font-500 bg-transparent" data-toggle="modal" data-target="#contactUsModal">
        Fale Conosco
      </li>
    </ul>
  </div>
</main>

<!--CONTACT US MODAL-->
<div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="contactUsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 735px">
    <div class="modal-content px-5 py-4">
      <div class="d-flex justify-content-end ">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-5">
        <div class="-text-center mb-4">
          <h2 class="font-size21px font-700 font-primary">
            Fale conosco
          </h2>
        </div>

        <form [formGroup]="contactForm" (ngSubmit)="onContactSubmit()">
          <div class="form-group">
            <input type="text" class="form-control user-bg font-500 w-100" placeholder="Nome completo" name="name"
              formControlName="name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control email-bg font-500 w-100" placeholder="Email" name="email"
              formControlName="email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control phone-bg font-500 w-100" placeholder="Telefone" name="cel"
              formControlName="cel" ngxPhoneMaskBr>
          </div>
          <div class="form-group">
            <textarea name="message" formControlName="message" class="form-control phone-bg font-500 w-100"
              placeholder="Mensagem" cols="30" rows="10">
                    </textarea>
          </div>
          <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary py-2 font-600 w-75">
              Continuar
            </button>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
    </div>
  </div>
</div>

<!--PRIVACY POLICY MODAL-->
<div class="modal fade" id="privacyPolicyModal" tabindex="-1" role="dialog" aria-labelledby="privacyPolicyModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 735px">
    <div class="modal-content py-4">
      <div class="d-flex justify-content-end mr-4 mb-n2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-privacy-policy></app-privacy-policy>
      </div>
    </div>
  </div>
</div>

<!--TERMS AND CONDITIONS MODAL-->
<div class="modal fade" id="termsAndConditionsModal" tabindex="-1" role="dialog"
  aria-labelledby="termsAndConditionsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 735px">
    <div class="modal-content py-4">
      <div class="d-flex justify-content-end mr-4 mb-n2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-terms-and-conditions></app-terms-and-conditions>
      </div>
    </div>
  </div>
</div>


<full-spinner></full-spinner>
