.title {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: bold;
}

.service-title {
  color: #1A1A1A;
  font-size: 18px;
  font-weight: bold;
}

.service-description {
  color: #1A1A1A;
  font-size: 14px;
}
