<section class="p-2 p-lg-5">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h6 class="title text-center">Solicitar novo serviço</h6>
    <div class="row justify-content-center align-items-center mt-4">
      <div class="col-sm-12 col-lg-12">
        <h6 class="mb-4 text-center">Selecione abaixo o serviço desejado.</h6>
        <select class="form-control" (change)="onChangeService($event.target.value)">
          <option selected disabled hidden>Selecione um serviço</option>
          <option *ngFor="let service of services" value="{{ service.plans_detail_id }}">{{ service?.description }}
          </option>
        </select>
        <div [formGroup]="localizationForm" class="col-sm-12 col-lg-12 d-flex flex-column mt-4 p-0">
          <label for="origin" class="font-weight-bold">Localização:</label>
          <input type="text" #placesRef name="origin" id="originGps" formControlName="address"
            class="form-control location-bg font-500" ngx-google-places-autocomplete [options]='options'
            (onAddressChange)="setOrigin($event)" (keyup)="originFocus($event.target.value)">
          <div *ngIf="localizationForm.get('address').touched && localizationForm.get('address').invalid">
            <span class="small text-danger">Endereço é obrigatório.</span>
          </div>
        </div>
        <div *ngIf="isTow" [formGroup]="localizationForm" class="col-sm-12 col-lg-12 d-flex flex-column p-0 mt-3">
          <label for="destiny" class="font-weight-bold">Destino:</label>
          <input type="text" #placesRef name="destiny" id="destinyGps" formControlName="destiny"
          class="form-control compass-bg font-500" ngx-google-places-autocomplete [options]='options'
          (onAddressChange)="setDestiny($event)" (keyup)="destinyFocus($event.target.value)">
          <div *ngIf="localizationForm.get('destiny').touched && localizationForm.get('destiny').invalid">
            <span class="small text-danger">Destino é obrigatório.</span>
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center mt-5">
          <button class="btn btn-primary px-lg-5" (click)="openModal()">Solicitar serviço</button>
        </div>
      </div>
    </div>
  </div>
</section>

<full-spinner></full-spinner>

<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Solicitar serviço</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column">
          <span>
            <strong>Serviço Solicitado: </strong> {{ nameService }}
          </span>
          <span>
            <strong>Endereço: </strong> {{ localizationForm.get('address').value }}
          </span>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button class="btn btn-primary" (click)="consumeService()" data-dismiss="modal">Confirmar serviço</button>
      </div>
    </div>
  </div>
</div>
