.background {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  background-size: cover;
  background: transparent url('../../../../assets/images/background-white.svg') no-repeat center padding-box;
}
