.b-shadow {
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 10px;
    /* transition: .2s; */
    background: #FFF;
}

section {
    width: 600px;
}

.pointer {
    cursor: pointer;
    transition: .3s;
}

.pointer:hover {
    background: #F1F1F1;
}