<app-header></app-header>
<app-page-back source="Cadastro"></app-page-back>
<main class="d-flex justify-content-center px-3 pb-lg-4">
    <section>
        <div class="text-center mb-3">
            <h2 class="font-size21px font-700">
                O que houve com o veículo?
            </h2>
        </div>

        <div>
            <div *ngFor="let diagnosticItem of diagnostics, let i = index" (click)="diagnostic = diagnosticItem.id; diagnosticDescription = diagnosticItem.description">
                <p class="mx-5 my-3 py-2 mb-0 text-center b-shadow pointer"
                [ngClass]="{'btn-primary text-white font-500': diagnostic === diagnosticItem.id}">
                    {{diagnosticItem.description}}
                </p>
            </div>
            <div *ngIf="!this.diagnostic && isSubmitted" class="d-flex justify-content-center my-3">
              <span class="small text-danger text-center">Diagnósitico do veículo obrigatório.</span>
            </div>
        </div>

        <div class="text-center mb-3">
            <h2 class="font-size21px font-700">
                Como é o local da remoção?
            </h2>
        </div>

        <div>
            <div *ngFor="let locationItem of locations, let i = index" (click)="location = locationItem.id; locationDescription = locationItem.description">
                <p class="mx-5 my-3 py-2 mb-0 text-center b-shadow pointer"
                [ngClass]="{'btn-primary text-white font-500': location === locationItem.id}">
                    {{locationItem.description}}
                </p>
            </div>
            <div *ngIf="!this.location && isSubmitted" class="d-flex justify-content-center my-3">
              <span class="small text-danger text-center">Local de remoção obrigatório.</span>
            </div>
        </div>

        <div class="text-center mb-3">
            <h2 class="font-size21px font-700">
                Observações
            </h2>
        </div>

        <div class="d-flex justify-content-center mb-3 mx-lg-5">
            <textarea [(ngModel)]="observations" class="w-100" rows="10"></textarea>
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary font-600 py-2 w-75" (click)="onSubmit()">
                Continuar
            </button>
        </div>

    </section>
</main>

<full-spinner></full-spinner>
