<div class="d-flex flex-column align-items-center px-4" *ngIf="!showPassword">
    <input 
        *ngIf="role === 'company'"
        type="email"
        placeholder="CNPJ ou E-mail"
        class="form-control user-bg mb-4"
        [(ngModel)]="data"
    >

    <input 
        *ngIf="role === 'user'"
        type="email"
        placeholder="E-mail"
        class="form-control user-bg mb-4"
        [(ngModel)]="data"
    >
    
    <button type="submit" class="btn btn-primary font-600 py-2 mb-3 w-75" (click)="forgotPassword()">
        Enviar
    </button>
</div>

<div class="d-flex flex-column align-items-center px-4" *ngIf="showPassword">
    <input 
        type="password"
        placeholder="Senha"
        class="form-control password-bg mb-4"
        [(ngModel)]="password"
    >

    <input 
        type="password"
        placeholder="Confirmar senha"
        class="form-control user-bg mb-4"
        [(ngModel)]="confirmPassword"
    >
    
    <button type="submit" class="btn btn-primary font-600 py-2 mb-3 w-75" (click)="resetPassword()">
        Salvar
    </button>
</div>

<full-spinner></full-spinner>