<main class="w-100">
  <div class="row">
    <div class="col-lg-12 d-flex flex-column flex-lg-row">
      <form [formGroup]="financialForm">
        <div class="col-lg-12 shadow bg-white rounded p-4 mb-5 mb-lg-0">
          <h2 class="title-reports">Relatórios Financeiros</h2>
          <div class="row mt-4">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label class="mb-2 text-nowrap label-container">
                <input type="radio" id="partner-all" name="partner" (change)="changeCheck()">
                <span class="span-radiomark"></span>
                Todos
              </label>
              <label class="mt-2 mb-2 text-nowrap label-container">
                <input type="radio" id="partner-only" name="partner" (change)="changeCheck()">
                <span class="span-radiomark"></span>
                Prestador
              </label>
              <input *ngIf="showInput" type="text" name="partnerId" class="form-control-edit mt-2" id="partnerId" formControlName="partnerId">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="uf">UF:</label>
              <select name="" id="" class="form-control-edit" (change)="onStateChange($event.target.value, 0)">
                <option selected disabled hidden>Selecione um estado</option>
                <option *ngFor="let state of states" value="{{ state.sigla }}">{{ state.nome }}</option>
              </select>
              <div *ngIf="financialForm.get('uf').touched && financialForm.get('uf').invalid">
                <span class="small text-danger">Estado é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2 mt-3 mt-sm-0 mt-md-0 mt-lg-0">
              <label for="city">Cidade:</label>
              <select name="" id="" class="form-control-edit" (change)="onCityChange($event.target.value)">
                <option selected disabled hidden>Selecione uma cidade</option>
                <option *ngFor="let city of cities[0]" value="{{ city.nome }}">{{ city.nome }}</option>
              </select>
              <div *ngIf="financialForm.get('city').touched && financialForm.get('city').invalid">
                <span class="small text-danger">Cidade é obrigatória.</span>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-12 col-lg-12 d-flex flex-column pl-2">
              <label for="">Período:</label>
                <div class="row align-items-center pl-3" style="vertical-align: middle;">
                  <input type="date" class="form-control-edit col-lg-5" id="of" formControlName="of">
                  <strong class="col-lg-1 text-center">a</strong>
                  <input type="date" class="form-control-edit col-lg-5" id="until" formControlName="until">
                </div>
                <div *ngIf="(financialForm.get('of').touched && financialForm.get('of').invalid) || (financialForm.get('until').touched && financialForm.get('until').invalid)">
                  <span class="small text-danger">Período é obrigatório.</span>
                </div>
            </div>
            <div class="col-sm-12 col-lg-12 d-flex flex-column justify-content-end pl-2 mt-3">
              <label class="mb-2 text-nowrap label-container">
                <input type="checkbox" id="bill" value="1" formControlName="bill">
                <span class="span-checkmark"></span>
                Gerar fatura
              </label>
            </div>
            <div class="col-sm-6 col-lg-6 mt-5">
              <button class="btn btn-primary w-75" (click)="openModal()">Consultar</button>
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="planForm">
        <div class="col-lg-12 shadow bg-white rounded p-4 ml-lg-5">
          <h2 class="title-reports">Plano de Assistência</h2>
          <div class="row mt-4">
            <div class="col-sm-12 col-lg-12 d-flex pl-2">
              <div class="col-lg-6">
                <h6 class="plan-title">Plano Rebox Auto</h6>
                <div class="row m-0 mt-2">
                  <span class="plan-sum"> R$ {{responsePlans.plan1.price}}</span>
                  <span class="plan-count ml-4">{{responsePlans.plan1.count}} plano(s)</span>
                </div>
              </div>
              <div class="col-lg-6">
                <h6 class="plan-title">Plano Rebox Auto+</h6>
                <div class="row m-0 mt-2">
                  <span class="plan-sum">R$ {{responsePlans.plan2.price}}</span>
                  <span class="plan-count ml-4">{{responsePlans.plan2.count}} plano(s)</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex  pl-2 mt-4">
              <label class="mb-2 text-nowrap label-container">
                <input type="radio" id="plan-all" value="sold" name="plan" (change)="changePlanMode($event)">
                <span class="span-radiomark"></span>
               Vendido
              </label>
              <label class="ml-4 mb-2 text-nowrap label-container">
                <input type="radio" id="plan-only" value="canceled" name="plan" (change)="changePlanMode($event)">
                <span class="span-radiomark"></span>
                Cancelado
              </label>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="uf">UF:</label>
              <select name="" id="" class="form-control-edit" (change)="onStateChange($event.target.value, 1)">
                <option selected disabled hidden>Selecione um estado</option>
                <option *ngFor="let state of states" value="{{ state.sigla }}">{{ state.nome }}</option>
              </select>
              <div *ngIf="financialForm.get('uf').touched && financialForm.get('uf').invalid">
                <span class="small text-danger">Estado é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2 mt-3 mt-sm-0 mt-md-0 mt-lg-0">
              <label for="city">Cidade:</label>
              <select name="" id="" class="form-control-edit" (change)="onCityChangePlan($event.target.value)">
                <option selected disabled hidden>Selecione uma cidade</option>
                <option *ngFor="let city of cities[1]" value="{{ city.nome }}">{{ city.nome }}</option>
              </select>
              <div *ngIf="financialForm.get('city').touched && financialForm.get('city').invalid">
                <span class="small text-danger">Cidade é obrigatória.</span>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-12 col-lg-12 d-flex flex-column pl-2">
              <label for="">Período:</label>
                <div class="row align-items-center pl-3" style="vertical-align: middle;">
                  <input type="date" class="form-control-edit col-lg-5" id="of" formControlName="of">
                  <strong class="col-lg-1 text-center">a</strong>
                  <input type="date" class="form-control-edit col-lg-5" id="until" formControlName="until">
                </div>
                <div *ngIf="(financialForm.get('of').touched && financialForm.get('of').invalid) || (financialForm.get('until').touched && financialForm.get('until').invalid)">
                  <span class="small text-danger">Período é obrigatório.</span>
                </div>
            </div>
            <div class="col-sm-12 col-lg-12 d-flex flex-column justify-content-end pl-2 mt-3">
              <label class="mb-2 text-nowrap label-container">
                <input type="checkbox" id="all" value="true" formControlName="all">
                <span class="span-checkmark"></span>
                Todo o período
              </label>
            </div>
            <div class="col-sm-12 col-lg-12 mt-5">
              <button class="btn btn-primary w-50" (click)="getPlans()">Consultar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

<app-report-modal
  [uf]="uf"
  [city]="city"
  [of]="period_of"
  [until]="period_until"
  [bill]="bill"
  [isAll]="isAll"
  [partnerId]="partnerId"
></app-report-modal>
