.title {
  font: var(--unnamed-font-style-normal) normal bold 24px var(--unnamed-font-family-montserrat);
  text-align: left;
  font: normal normal bold 24px Montserrat;
  letter-spacing: 1.68px;
  color: #07359B;
  text-transform: uppercase;
  opacity: 1;
}

label {
  font: var(--unnamed-font-style-normal) normal bold 14px/18px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #1A1A1A;
  text-shadow: 0px 3px 20px #00000029;
  opacity: 1;
}

.label-container {
  font-size: 16px;
}

.form-control {
  padding-left: 5px;
  box-shadow: none!important;
  border: 0.30000001192092896px solid #4D4D4D!important;
  color: #000;
}

.form-control-edit {
  background: #FFF 0% 0% no-repeat padding-box;
  border: 0.30000001192092896px solid #4D4D4D;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  color: #000;
}

.img {
  width: 140px;
  height: 140px;
  cursor: pointer;
}

:focus {
  outline: none;
}


/* th {
  border: 0.30000001192092896px solid #4D4D4D;
} */

.bg-header {
  background: #F8F8F8;
  text-align: center;
  vertical-align: middle;
  min-width: 720px;
  max-width: 100%;
  word-wrap: break-word;
}

.content {
  height: 560px;
  min-width: 720px;
  max-width: 100%;
}

.tow-port:first-child {
  margin-top: 30px !important;
}

.tow-port {
  margin: 41px 0;
}

.price {
 margin-top: 6px;
}

.port {
  font-weight: bold;
}

.port:nth-child(even) {
  display: none;
}

.box-by-plan {
  max-height: 280px!important;
}

@media (max-width: 768.9px){
  .scroll {
    overflow-x: auto!important;
    white-space: nowrap!important;
  }
  .tow-port {
    margin: 27px 0;
  }
}
/* @media (max-width: 1280px) and (max-height: 720px) {
  .tow-port, .price  {
    margin: 26px 0;
  }
}
@media (width: 1366px) and (height: 768px) {
  .tow-port, .price  {
    margin: 20px 0;
  }
} */
