<main class="d-flex">
  <nav class="navbar position-relative">
    <ul *ngIf="showSide" class="navbar-nav position-fixed">
      <li class="p-4 mt-2 mb-3 d-flex justify-content-center" (click)="menuToggle()">
        <img src="assets/images/material-menu.svg" class="menu-side">
      </li>

      <li routerLink="customers" routerLinkActive="li-active" #person="routerLinkActive"
        class="py-3 d-flex justify-content-center">
        <img *ngIf="!person.isActive" src="assets/images/person.svg">
        <img *ngIf="person.isActive" src="assets/images/person-active.svg">
      </li>

      <li routerLink="partners" routerLinkActive="li-active" #partners="routerLinkActive"
        class="py-3 d-flex justify-content-center">
        <img *ngIf="!partners.isActive" src="assets/images/people.svg">
        <img *ngIf="partners.isActive" src="assets/images/people-active.svg">
      </li>
      <li routerLink="services" routerLinkActive="li-active" #services="routerLinkActive"
        class="py-3 d-flex justify-content-center">
        <img *ngIf="!services.isActive" src="assets/images/truck.svg">
        <img *ngIf="services.isActive" src="assets/images/truck-active.svg">
      </li>
      <li routerLink="reports" routerLinkActive="li-active" #reports="routerLinkActive"
        class="py-3 d-flex justify-content-center">
        <img *ngIf="!reports.isActive" src="assets/images/list.svg">
        <img *ngIf="reports.isActive" src="assets/images/list-active.svg">
      </li>
      <li routerLink="new-request" routerLinkActive="li-active" #request_tow="routerLinkActive"
        class="py-3 d-flex justify-content-center">
        <img *ngIf="!request_tow.isActive" src="assets/images/customer-support.svg">
        <img *ngIf="request_tow.isActive" src="assets/images/customer-support-blue.svg">
      </li>

      <li routerLink="requests-services" routerLinkActive="li-active" #request_services="routerLinkActive"
        class="py-3 d-flex justify-content-center">
        <img *ngIf="!request_services.isActive" src="assets/images/customer-support.svg">
        <img *ngIf="request_services.isActive" src="assets/images/customer-support-blue.svg">
      </li>
    </ul>

    <!--Toogle SideNav-->
    <div id="mySidenav" class="sidenav">
      <a class="closebtn" (click)="closeNav()" style="cursor: pointer;">&times;</a>
      <li routerLink="customers" routerLinkActive="li-active" #person="routerLinkActive"
        class="p-3 mt-4 d-flex justify-content-start align-items-center">
        <img *ngIf="!person.isActive" src="assets/images/person.svg">
        <img *ngIf="person.isActive" src="assets/images/person-active.svg">
        <span class="mx-4 mt-2">Clientes</span>
      </li>

      <li routerLink="partners" routerLinkActive="li-active" #partners="routerLinkActive"
        class="p-3 d-flex justify-content-start align-items-center">
        <img *ngIf="!partners.isActive" src="assets/images/people.svg">
        <img *ngIf="partners.isActive" src="assets/images/people-active.svg">
        <span class="mx-4 mt-2">Prestadores</span>
      </li>
      <li routerLink="services" routerLinkActive="li-active" #services="routerLinkActive"
        class="p-3 d-flex justify-content-start align-items-center">
        <img *ngIf="!services.isActive" src="assets/images/truck.svg">
        <img *ngIf="services.isActive" src="assets/images/truck-active.svg">
        <span class="mx-4 mt-2">Serviços</span>
      </li>
      <li routerLink="reports" routerLinkActive="li-active" #reports="routerLinkActive"
        class="p-3 d-flex justify-content-start align-items-center">
        <img *ngIf="!reports.isActive" src="assets/images/list.svg">
        <img *ngIf="reports.isActive" src="assets/images/list-active.svg">
        <span class="mx-4 mt-2">Relatórios</span>
      </li>

      <li routerLink="new-request" routerLinkActive="li-active" #request_tow="routerLinkActive"
        class="p-3 d-flex justify-content-start align-items-center">
        <img *ngIf="!request_tow.isActive" src="assets/images/customer-support.svg">
        <img *ngIf="request_tow.isActive" src="assets/images/customer-support-blue.svg">
        <span class="mx-4 mt-2">Novo chamdo</span>
      </li>
      <li routerLink="requests-services" routerLinkActive="li-active" #request_services="routerLinkActive"
        class="p-3 d-flex justify-content-start align-items-center">
        <img *ngIf="!request_services.isActive" src="assets/images/customer-support.svg">
        <img *ngIf="request_services.isActive" src="assets/images/customer-support-blue.svg">
        <span class="mx-4 mt-2">Serviços solicitados</span>
      </li>
    </div>

    <!--End Toogle SideNav-->
  </nav>

  <section id="section">
    <header class="d-flex justify-content-between align-items-center w-100 px-3 px-md-5 py-3 mb-4">
      <div class="d-block d-md-none d-lg-none">
        <img src="assets/images/menu.svg" class="menu" (click)="menuToggle()" style="cursor: pointer;">
      </div>
      <div class="logo mt-1" routerLink="/admin">
        <img src="assets/images/rebox.png">
      </div>
      <div id="dropdownLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="img-perfil ml-2" [class.img-borda]="imgUrl !== 'assets/images/user.svg'" [src]="imgUrl" alt="" />
        <img src="assets/images/arrow-down.svg" class="ml-3">
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownLogout">
        <a class="dropdown-item" (click)="logout()">Sair</a>
      </div>
    </header>

    <section class="px-3 px-md-5">
      <router-outlet></router-outlet>
    </section>
  </section>
</main>
