<main class="w-100">
  <section class="d-flex flex-column justify-content-center align-items-center p-lg-5">
    <h1 class="title">Histórico</h1>
    <div class="row w-100 mt-5">
      <div class="col-lg-12 d-flex flex-column flex-lg-row justify-content-center">
        <div *ngFor="let request of requests" class="col-lg-4 mb-5 mb-lg-0 box">
          <h6 class="request-date text-center">{{ request?.created_at | date:'dd/MM/yyyy - HH:mm': 'PDT' }}</h6>
          <div class="shadow bg-white p-4">
            <div class="d-flex justify-content-center align-items-center mb-4">
              <span class="font-size21px font-weight-bold text-center">{{ request.description }}</span>
            </div>
            <div *ngIf="request.partner" class="company-info d-flex">
              <img *ngIf="!request.partner?.user.img_profile" src="assets/images/user.svg" class="company-img">
              <img *ngIf="request.partner?.user.img_profile" [src]="request.partner.user.img_profile" class="company-img">
              <div class="d-flex flex-column ml-4">
                <strong class="company-title">Empresa:</strong>
                <span class="company-name">{{ request.partner?.company_name | titlecase }}</span>
              </div>
            </div>
            <div class="location d-flex align-items-center mt-4 ml-3 pb-3 border-bottom">
              <img src="assets/images/location.svg" alt="">
              <span class="location-name pl-3">{{ request?.from }}</span>
            </div>
            <div *ngIf="request?.to" class="location d-flex align-items-center mt-4 ml-3 pb-3 border-bottom">
              <img src="assets/images/compass.svg" alt="">
              <span class="location-name pl-3">{{ request?.to }}</span>
            </div>
            <div class="row mt-4">
              <div class="col-lg-12">
                <button class="btn btn-secondary w-100" (click)="setRequestToDetail(request)" data-toggle="modal" data-target="#modalExemplo">Ver detalhes</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="requests?.length === 0" class="requests-none">
          <span>Você não possui nenhuma solicitação.</span>
        </div>
      </div>
    </div>
  </section>
</main>

<full-spinner></full-spinner>

<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-5">
        <div class="d-flex flex-column">
          <h6 class="detail-request">Detalhes da solicitação</h6>
          <div class="px-3 py-5">
            <div class="d-flex justify-content-center align-items-center mb-4">
              <span class="font-size21px font-weight-bold text-center">{{ requestDeitail?.description }}</span>
            </div>
            <div *ngIf="requestDeitail?.partner" class="row px-3">
              <img *ngIf="!requestDeitail?.partner?.user.img_profile" src="assets/images/user.svg" class="company-img">
              <img *ngIf="requestDeitail?.partner?.user.img_profile" [src]="requestDeitail?.partner?.user.img_profile" class="company-img">
              <div class="d-flex flex-column ml-4">
                <strong class="company-title font-size15px">Empresa:</strong>
                <span class="company-name font-size15p">{{ requestDeitail?.partner?.company_name | titlecase }}</span>
              </div>
            </div>
            <div class="border rounded my-3">
              <p class="p-3 pb-2 mb-0">
                <span>
                  <img src="assets/images/location.svg" class="mr-2">
                </span> Onde seu veículo está?
              </p>
              <p class="px-3 font-600">
                {{requestDeitail?.from }}
              </p>

              <hr class="mx-3">

              <p *ngIf="requestDeitail?.to" class="px-3 pb-2 mb-0">
                <span>
                  <img src="assets/images/compass.svg" class="mr-2">
                </span> Para onde quer levá-lo?
              </p>
              <p class="px-3 font-600">
                {{ requestDeitail?.to }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
