.title {
  color: #1A1A1A;
  font-size: 32px;
  font-weight: bold;
}

.request-date {
  color: #1A1A1A;
  font-size: 20px;
  font-weight: bold;
}

.box {
  flex: 1;
}

.company-info {
  background: #EBF0FF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding: 8px;
}

.company-img {
  width: 73px;
  height: 73px;
  border-radius: 50%;
}

.company-title {
  color: #1A1A1A;
  font-size: 21px;
}

.company-name {
  color: #1A1A1A;
  font-size: 21px;
}

.location-name {
  color: #1A1A1A;
  font-size: 21px;
  font-weight: 600;
}

.detail-request {
  color: #1A1A1A;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.requests-none {
  font-size: 20px;
  color: #1A1A1A;
}
