<app-header></app-header>

<main class="d-flex justify-content-center px-3">
    <section>
        <div class="text-center mb-3">
            <h2 class="font-size21px font-700">
                Fale conosco
            </h2>
        </div>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" 
                    class="form-control user-bg font-500 w-100" 
                    placeholder="Nome completo"
                    name="name"
                    formControlName="name"
                >
            </div>
            <div class="form-group">
                <input type="text" 
                    class="form-control email-bg font-500 w-100" 
                    placeholder="Email"
                    name="email"
                    formControlName="email"
                >
            </div>
            <div class="form-group">
                <input type="text" 
                    class="form-control phone-bg font-500 w-100" 
                    placeholder="Telefone"
                    name="cel"
                    formControlName="cel"
                    ngxPhoneMaskBr
                >
            </div>
            <div class="form-group">
                <textarea
                    name="message"
                    formControlName="message"
                    class="form-control phone-bg font-500 w-100"
                    placeholder="Mensagem"
                    cols="30"
                    rows="10">
                </textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary py-2 font-600">
                    Continuar
                </button>
            </div>
        </form>
    </section>
</main>
