.title {
  font: var(--unnamed-font-style-normal) normal bold 24px var(--unnamed-font-family-montserrat);
  text-align: left;
  font: normal normal bold 24px Montserrat;
  letter-spacing: 1.68px;
  color: #07359B;
  text-transform: uppercase;
  opacity: 1;
}

label {
  font: var(--unnamed-font-style-normal) normal bold 14px/18px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #1A1A1A;
  text-shadow: 0px 3px 20px #00000029;
  opacity: 1;
}

.form-control-edit {
  background: #FFF 0% 0% no-repeat padding-box;
  border: 0.30000001192092896px solid #4D4D4D;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  color: #000;
}

.img {
  width: 140px;
  height: 140px;
  cursor: pointer;
}

:focus {
  outline: none;
}
