<main class="w-100">
  <form [formGroup]="employeeForm" class="mb-5">
    <div class="row">
      <div class="col-md-12 col-lg-5 shadow bg-white rounded p-4">
        <h6 *ngIf="!isEdit" class="title">Cadastrar Atendente</h6>
        <h6 *ngIf="isEdit" class="title">Editar Atendente</h6>
        <label *ngIf="isEdit" for="uploadImg">
          <img *ngIf="!imgUrlForm" src="assets/images/insert-image.svg" alt="insertImage" class="mt-4" style="cursor: pointer;" class="rounded-circle img">
          <img *ngIf="imgUrlForm"  [src]="imgUrlForm" alt="" class="rounded-circle img">
        </label>
        <input type="file" name="uploadImg" id="uploadImg" (change)="sendImg($event)" hidden>
        <div class="mt-3 p-3">
          <div class="row">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="first_name">Nome:</label>
              <input type="text" name="first_name" class="form-control-edit" id="first_name" formControlName="first_name">
              <div *ngIf="employeeForm.get('first_name').touched && employeeForm.get('first_name').invalid">
                <span class="small text-danger">Nome é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="last_name">Sobrenome:</label>
              <input type="text" name="last_name" class="form-control-edit" id="last_name" formControlName="last_name">
              <div *ngIf="employeeForm.get('last_name').touched && employeeForm.get('last_name').invalid">
                <span class="small text-danger">Sobrenome é obrigatório.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <!-- <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="rg">RG:</label>
              <input type="text" name="rg" class="form-control-edit" mask="00.000.000-00" id="rg" formControlName="rg">
              <div *ngIf="employeeForm.get('rg').touched && employeeForm.get('rg').invalid">
                <span class="small text-danger">RG é obrigatório.</span>
              </div>
            </div> -->
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="cel">Celular:</label>
              <input type="text" class="form-control-edit" id="cel" mask="(00) 0 0000-0000" formControlName="cel">
              <div *ngIf="employeeForm.get('cel').touched && employeeForm.get('cel').invalid">
                <span class="small text-danger">Celular é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="cpf">CPF:</label>
              <input type="text" name="cpf" class="form-control-edit" id="cpf" mask="000.000.000-00" formControlName="cpf">
              <div *ngIf="employeeForm.get('cpf').touched && employeeForm.get('cpf').invalid">
                <span class="small text-danger">CPF inválido.</span>
              </div>
            </div>
          </div>
          <!-- <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="cep">CEP:</label>
              <input type="text" name="cep" class="form-control-edit" id="cep" mask="00000-000" formControlName="cep">

            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="address">Endereço:</label>
              <input type="text" name="address" class="form-control-edit" id="address" formControlName="address">
            </div>

          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="number">Número:</label>
              <input type="text" name="number" class="form-control-edit" id="number" formControlName="number">
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="address_neighborhood">Bairro:</label>
              <input type="text" class="form-control-edit" id="address_neighborhood"formControlName="neighborhood">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="address_city">Cidade:</label>
              <input type="text" class="form-control-edit" id="address_city" formControlName="city">
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="address_state">UF:</label>
              <input type="text" class="form-control-edit" id="address_state" formControlName="uf">
            </div>
          </div> -->
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="email">Email:</label>
              <input type="email" class="form-control-edit" id="email" formControlName="email">
              <div *ngIf="employeeForm.get('email').touched && employeeForm.get('email').invalid">
                <span class="small text-danger">Email é obrigatório.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 d-flex flex-column h-50 p-0">
        <div class="col-sm-12 col-md-12 col-lg-7 d-flex flex-column align-items-center shadow bg-white rounded p-4 mt-5 mt-md-5 mt-lg-0 ml-sm-0 ml-lg-5 h-50">
          <h6 class="title font-size12px mb-3">Insira a Senha</h6>
          <div class="row justify-content-center m-0 p-0 p-md-5 p-lg-5">
            <div class="col-sm-12 col-md-12 col-lg-10 d-flex flex-column  pl-2">
              <label for="password">Senha:</label>
              <input type="password" class="form-control-edit" id="password" formControlName="password">
              <div *ngIf="employeeForm.get('password').touched && employeeForm.get('password').invalid" >
                <span class="small text-danger">Senha é obrigatória.</span>
                <br>
                <span *ngIf="employeeForm.get('password').errors.minlength" class="small text-danger">A senha deve ter no minímo 6 carácteres.</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-10 d-flex flex-column mt-2 pl-2">
              <label for="confirmPassword">Confirmar senha:</label>
              <input type="password" class="form-control-edit" id="confirmPassword" formControlName="confirm_password">
              <div *ngIf="employeeForm.get('password').value !== employeeForm.get('confirm_password').value">
                <span class="small text-danger">A senha deve ser igual</span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isEdit" class="col-sm-12 col-md-12 col-lg-7 d-flex flex-column align-items-center shadow bg-white rounded p-4 mt-5 mt-md-5 mt-lg-3 ml-sm-0 ml-lg-5 h-50">
          <button (click)="removeEmployee()" class="btn btn-danger col-lg-8 my-3">Excluir atendente</button>
        </div>
      </div>
      <div class="col-lg-12 mt-4">
        <button type="button" class="btn btn-primary col-lg-3 px-5" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-danger col-lg-3 ml-sm-0 ml-md-0 ml-lg-4 mt-3 mt-md-3 mt-lg-0 px-5" routerLink="/companies/employees">Cancelar</button>
      </div>
    </div>
  </form>
</main>
<full-spinner></full-spinner>
