<app-page-back source="Novo Chamado"></app-page-back>
<main class="d-flex align-items-center flex-column justify-content-center px-3 pb-lg-4">
  <section class="col-sm-12 col-lg-12 d-flex flex-column h-100">
    <div class="d-flex flex-column">
      <span><strong>Solicitante:</strong> {{ requestResume?.client.name }}</span>
      <span><strong>Telefone:</strong> {{ requestResume?.client.cel | mask: '(00) 0 0000-0000' }}</span>
      <span *ngIf="requestResume?.client.scheduling_date"><strong>Agendado para:</strong> {{ requestResume?.client.scheduling_date | date: 'dd/MM/yyyy - HH:mm' }}</span>
      <hr class="mx-1">
      <span><strong>Modelo:</strong> {{ requestResume?.client?.vehicle?.model }}</span>
      <span><strong>Marca:</strong> {{ requestResume?.client?.vehicle?.brand }}</span>
      <span><strong>Placa:</strong> {{ requestResume?.client?.vehicle?.board }}</span>
      <hr class="mx-1">
      <span><strong>Problema no veículo:</strong> {{ requestResume?.additionalInfo.diagnosticDescription}}</span>
      <span><strong>Local da remoção:</strong> {{ requestResume?.additionalInfo.locationDescription}}</span>
      <span><strong>Descrição:</strong> {{ requestResume?.client.comments}}</span>
      <div class="border my-3">
        <p class="font-600 p-3 pb-2 mb-0">
          <span>
            <img src="assets/images/location.svg">
          </span> Origem:
        </p>
        <p class="px-3">
          {{requestResume?.client.origin}}
        </p>

        <hr class="mx-3">

        <p class="font-600 px-3 pb-2 mb-0">
          <span>
            <img src="assets/images/compass.svg">
          </span> Destino:
        </p>
        <p class="px-3">
          {{requestResume?.client.destiny}}
        </p>
      </div>
    </div>
    <div class="col-sm-12 d-flex flex-sm-column  flex-lg-row align-items-center justify-content-end">
      <button type="button" class="col-sm-12 col-md-12 col-lg-6 btn btn-secondary font-600 py-2 " (click)="back()">Voltar</button>
      <button type="button" class="col-sm-12 col-md-12 col-lg-6 btn btn-primary font-600 py-2 ml-sm-0 ml-lg-2 mt-sm-2 mt-lg-0" (click)="onSubmit()">Pedir Agora</button>
    </div>
  </section>
</main>
<full-spinner></full-spinner>
