#side-menu {
    right: 0;
    top: 0;
    transition: .7s;
    overflow: hidden;
}

.open-menu {

}

.closed-menu {
    width: 0px !important;

}
.m-backdrop {
    width: 35%;
    height: 100%;
    background: #051D5199;
}

nav {
    width: 65%;
}

nav ul {

}

li {
    font-size: 14px;
    color: #1A1A1A;
    cursor: pointer;
}
