<div class="mt-5">
  <div *ngIf="!showForgotPassword" class="ml-5 mb-2">
    <p class="mb-0 font-600 font-size18px d-flex align-items-center" style="cursor: pointer;" routerLink="/">
        <span class="mr-1" style="transform: translateY(-2px);">
            <img src="assets/images/left-arrow.svg" style="width: 15px; height: auto;">
        </span> Home
    </p>
  </div>
  <div *ngIf="showForgotPassword" class="ml-5 mb-2">
    <p class="mb-0 font-600 font-size18px d-flex align-items-center" style="cursor: pointer;" (click)="showForgotPassword = !showForgotPassword">
      <span class="mr-1" style="transform: translateY(-2px);">
        <img src="assets/images/left-arrow.svg" style="width: 15px; height: auto;">
      </span> Login
    </p>
  </div>

</div>
<main class="d-flex justify-content-center px-3">
    <section>
        <div class="d-flex justify-content-center py-5 my-4">
            <img src="assets/images/rebox.png" routerLink="/" style="cursor: pointer;">
        </div>

        <div class="text-center mb-3">
            <h2 class="font-size21px font-700">
                {{showForgotPassword ? 'Esqueci minha senha' : 'Acesse sua conta'}}
            </h2>
        </div>

        <app-signin-form
            role="user"
            (showForgotPassword)="showForgotPasswordComponent()"
            *ngIf="!showForgotPassword">
        </app-signin-form>

        <app-forgot-password
            role="user"
            *ngIf="showForgotPassword">
        </app-forgot-password>

        <div class="position-relative">
            <div class="d-flex flex-column align-items-center position-absolute pt-5 mt-5">
              <p style="cursor: pointer;" data-toggle="modal" data-target="#modalTerms">Termos e condições</p>
              <p style="cursor: pointer;" data-toggle="modal" data-target="#modalPolicies">Política e privacidade</p>
            </div>
        </div>
<!--
        <form [formGroup]="signinForm" class="px-4">
            <div class="form-group">
                <input
                type="text"
                name="cpf"
                placeholder="CPF"
                class="form-control py-2"
                formControlName="cpf"
                mask="000.000.000-00"
            >
            </div>

            <div class="form-group">
                <input type="password" name="password" placeholder="Senha" class="form-control py-2" formControlName="password">
                <div *ngIf="signinForm.controls.password.invalid && isSubmited" class="mt-2">
                    <p class="text-danger text-center font-600 font-size12px">
                        Necessário no mínimo 6 caracteres
                    </p>
                </div>
            </div>

            <div class="form-group text-right">
                <p>Esqueci minha senha</p>
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-primary font-600 py-2 w-75" (click)="onSubmit()">
                    Entrar
                </button>
            </div>
        </form> -->
    </section>
</main>

<full-spinner></full-spinner>

<div class="modal fade" id="modalTerms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-terms-and-conditions></app-terms-and-conditions>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalPolicies" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-privacy-policy></app-privacy-policy>
      </div>
    </div>
  </div>
</div>
