@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

/**
*   GLOBAL STYLES FOR FONTS
*   -FONT SIZE
*   -FONT WEIGHT
*   -COLOR
*/
.font-size44px {
  font-size: 44px;
}

.font-size25px {
  font-size: 25px;
}

.font-size21px {
  font-size: 21px;
}

.font-size18px {
  font-size: 18px;
}

.font-size17px {
  font-size: 17px;
}

.font-size15px {
  font-size: 15px;
}

.font-size12px {
  font-size: 12px;
}

.font-500 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.font-primary {
  color: #07359B;
}

/*END FONT STYLES*/

/**
*   GLOBAL STYLES FOR BUTTONS
*   -BACKGROUND
*   -BORDER RADIUS
*   -EFFECTS
*/
.btn {
  border-radius: 30px;
}

.btn-primary {
  background: linear-gradient(90deg, #07359B 50%, #053AC1) !important;
  font-weight: 600;
}
.btn-cancel {
  background: transparent linear-gradient(102deg, #333333 0%, #4D4D4D 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000029;
  border-radius: 30px;  font-weight: 600;
  color: #FFF;
}

.btn-cancel:hover {
  color: #fff
}

.btn-secondary {
  background: #FFF !important;
  border: 1px solid #07359B;
  color: #07359B !important;
  font-weight: 600;
}

.btn-status-pending {
  background: linear-gradient(90deg, #DF0A08 50%, #C41414) !important;
  font-weight: 600;
}

.btn-status-progress {
  background: linear-gradient(90deg, #4D4D4D 50%, #989898) !important;
  font-weight: 600;
}

.btn-status-finished {
  background: linear-gradient(90deg, #079B51 50%, #05C144) !important;
  font-weight: 600;
}

.radius10 {
  border-radius: 10px;
}

/*#################
*END BUTTON STYLES
*##################/

/**
*  GLOBAL BORDER AND BOX-SHADOW PROPERTYS
*
*/

.b-shadow {
  box-shadow: 0px 3px 8px #00000029 !important;
}

/*
*   GLOBAL STYLES FOR CHECKBOX AND RADIO STYLE
*   -BACKGROUND
*   -DEFAULT CHECK
/

/* Customize the label (the container) */
.label-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 23px;
  width: 23px;
  left: 0px;
  z-index: 1;
}

/* Create a custom checkbox */
.span-checkmark,
.span-radiomark {
  position: absolute;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #eee;
  border-radius: 5px;
  transition: .3s;
}

.span-radiomark {
  border-radius: 50% !important;
}

/* On mouse-over, add a grey background color */
.label-container:hover input~.span-checkmark,
.label-container:hover input~.span-radiomark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked~.span-checkmark,
.label-container input:checked~.span-radiomark {
  background-color: #053AC1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.span-checkmark:after,
.span-radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked
  .label-container input:checked ~ .span-checkmark:after {
    display: block;
  } */

/* Style the checkmark/indicator */
.label-container .span-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
  * CUSTOM CLASS
  *
  */

.pointer {
  cursor: pointer;
  transition: .3s;
}

.pointer:hover {
  background: #F1F1F1;
}

.anchorLink {
  color: #053AC1;
  font-size: 13px;
}


/**
  * INPUT SVG BACKGROUNDS
  */

.form-control {
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 15px 45%;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0px 3px 8px #00000029 !important;
  padding-left: 42px;
}

.form-control:focus {
  box-shadow: 0px 3px 8px #053AC160 !important;
}


/*** Paginate ***/
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #fff !important;
  color: #232323 !important;
  cursor: default;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
}

.ngx-pagination ul {
  color: #9E9E9E !important;
  border: 1px solid #DCDCDC !important;
  border-radius: 4px !important;
  margin: 0px;
}

.ngx-pagination>li {
  color: #9E9E9E !important;
  border: 1px solid #DCDCDC !important;
  border-radius: 4px !important;
  margin: -2px;
}

.ngx-pagination a {
  color: #9E9E9E !important;
}

.ngx-pagination .pagination-previous {
  display: none !important;
}

.ngx-pagination .disabled {
  display: none !important;
}

.ngx-pagination li a::after {
  display: none !important;
}

/*************************/

/*
  * INPUTS BACKGROUNDS
  */
.user-bg {
  background-image: url("./assets/images/user-bg.svg");
}

.wheel-bg {
  background-image: url("./assets/images/wheel.svg");
}

.car-bg {
  background-image: url("./assets/images/pickup-car.svg");
}

.number-bg {
  background-image: url("./assets/images/number.svg");
}

.phone-bg {
  background-image: url("./assets/images/phone.svg");
}

.access-bg {
  background-image: url("./assets/images/access.svg");
}

.location-bg {
  background-image: url("./assets/images/location.svg");
}

.password-bg {
  background-image: url("./assets/images/password.svg");
}

.compass-bg {
  background-image: url("./assets/images/compass.svg");
}

.email-bg {
  background-image: url("./assets/images/email.svg");
}

.reward-bg {
  background-image: url("./assets/images/reward.svg");
}

.speedometer-bg {
  background-image: url("./assets/images/car.svg");
}
.calendar-bg {
  background-image: url("./assets/images/calendar.svg");
}
.fuel-bg {
  background-image: url("./assets/images/fuel.svg");
}

::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
}

input:-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
}

textarea:-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
}

:focus {
  outline: none;
}

.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination li {
  border: 1px solid #DCDCDC!important;
}

.ngx-pagination .current,
.btn-info {
  color: #053AC1!important;
  border: 1px solid #DCDCDC!important;

}

.ngx-pagination .current:hover {
  background: #FFF !important;
  border-radius: 20px !important;
}
