<app-header></app-header>

<main class="d-flex justify-content-center px-3 pb-4">
    <section>
        <div class="text-center mb-3">
            <h2 class="font-size21px font-700">
                Cadastro de empresa
            </h2>
            <p class="font-size15px mb-0">
                Preencha as informações abaixo
            </p>
        </div>

        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="form-group my-4">
                <input type="text"
                    class="form-control user-bg font-500 w-100"
                    placeholder="Nome"
                    name="name"
                    formControlName="name"
                >
                <div *ngIf="signUpForm.get('name').touched && signUpForm.get('name').invalid" class="d-flex flex-column">
                  <span class="small text-danger mt-1">Nome é obrigatório.</span>
                </div>
            </div>

            <div class="form-group my-4">
                <input type="text"
                    class="form-control access-bg font-500 w-100"
                    placeholder="CNPJ"
                    name="cnpj"
                    formControlName="cnpj"
                    mask="00.000.000/0000-00"
                >
                <div *ngIf="signUpForm.get('cnpj').touched && signUpForm.get('cnpj').invalid" class="d-flex flex-column">
                  <span class="small text-danger mt-1">CNPJ inválido.</span>
                </div>
            </div>

            <div class="form-group my-4">
                <input type="text"
                    class="form-control email-bg font-500 w-100"
                    placeholder="Email"
                    name="email"
                    formControlName="email"
                >
                <div *ngIf="signUpForm.get('email').touched && signUpForm.get('email').invalid" class="d-flex flex-column">
                  <span class="small text-danger mt-1">Email é obrigatório.</span>
                </div>
            </div>

            <div class="form-group my-4">
                <input type="password"
                    class="form-control password-bg font-500 w-100"
                    placeholder="Senha"
                    name="password"
                    formControlName="password"
                >
                <div *ngIf="signUpForm.controls.password.invalid && isSubmited" class="mt-2">
                    <p class="text-danger text-center font-600 font-size12px">
                        Necessário no mínimo 6 caracteres
                    </p>
                </div>
            </div>

            <div class="form-group my-4">
                <input type="text"
                    class="form-control phone-bg font-500 w-100"
                    placeholder="Telefone"
                    name="cel"
                    formControlName="cel"
                    ngxPhoneMaskBr
                >
                <div *ngIf="signUpForm.get('cel').touched && signUpForm.get('cel').invalid" class="d-flex flex-column">
                  <span class="small text-danger mt-1">Telefone é obrigatório.</span>
                </div>
            </div>

            <!--TODO: CONFIRM SINGLE FIELD-->
            <div class="form-group my-4">
                <input type="text"
                    class="form-control location-bg font-500 w-100"
                    placeholder="Cidade/Estado"
                    name="location"
                    formControlName="location"
                >
                <div *ngIf="signUpForm.get('location').touched && signUpForm.get('location').invalid" class="d-flex flex-column">
                  <span class="small text-danger mt-1">Cidade/Estado é obrigatório.</span>
                </div>
            </div>

            <div class="form-group my-4" style="max-width: 630px;">
                <label class="font-600">Tipo de serviço</label>
                <div class="row m-0">
                    <label class="col-sm-4 col-md-4 label-container font-500">
                        <input type="checkbox" name="town" value="1" (change)="changeTypeService($event.target.value)">
                        <span class="span-checkmark"></span>
                        Reboque
                    </label>

                    <label class="col-sm-4 col-md-4 label-container font-500">
                        <input type="checkbox" name="oil_change" value="2" (change)="changeTypeService($event.target.value)">
                        Chaveiro
                        <span class="span-checkmark"></span>
                    </label>

                    <label class="col-sm-4 col-md-4 label-container font-500">
                        <input type="checkbox" name="town" value="3" (change)="changeTypeService($event.target.value)">
                        <span class="span-checkmark"></span>
                        Socorro mecânico
                    </label>
                    <label class="col-sm-4 col-md-4 label-container font-500">
                        <input type="checkbox" name="town" value="4" (change)="changeTypeService($event.target.value)">
                        <span class="span-checkmark"></span>
                        Troca de pneu
                    </label>
                    <label class="col-sm-4 col-md-4 label-container font-500">
                        <input type="checkbox" name="town" value="5" (change)="changeTypeService($event.target.value)">
                        <span class="span-checkmark"></span>
                        Carga na bateria
                    </label>
                    <label class="col-sm-4 col-md-4 label-container font-500">
                        <input type="checkbox" name="town" value="6" (change)="changeTypeService($event.target.value)">
                        <span class="span-checkmark"></span>
                        Carro reserva
                    </label>
                    <label class="col-sm-4 col-md-4 label-container font-500">
                        <input type="checkbox" name="town" value="7" (change)="changeTypeService($event.target.value)">
                        <span class="span-checkmark"></span>
                        Pane seca
                    </label>
                    <label class="col-sm-4 col-md-4 label-container font-500">
                        <input type="checkbox" name="town" value="8" (change)="changeTypeService($event.target.value)">
                        <span class="span-checkmark"></span>
                        Pane elétrica
                    </label>
                    <label class="col-sm-4 col-md-4 label-container font-500">
                        <input type="checkbox" name="town" value="9" (change)="changeTypeService($event.target.value)">
                        <span class="span-checkmark"></span>
                        Assistência funerária
                    </label>
                </div>
                <div *ngIf="signUpForm.controls.types.invalid && isSubmited" class="mt-2">
                  <p class="text-danger text-center font-600 font-size12px">
                      Tipo de serviço é obrigatório.
                  </p>
              </div>
            </div>


            <div class="d-flex justify-content-center mt-5">
                <button type="button" class="btn btn-primary py-2 font-600 w-100" data-target="#modalExemplo" data-toggle="modal">
                    Continuar
                </button>
            </div>
        </form>
    </section>
</main>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="exampleModalLabel">Regiões de Atendimento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div [formGroup]="regionsForm" class="modal-body">
        <h6 class="text-center">Insira as Regiões de atendimento</h6>
        <div class="row d-flex mt-4">
          <div class="col-lg-6 d-flex flex-column">
            <label for="" class="font-weight-bold">Estado:</label>
            <select name="" id="" class="form-control" formControlName="state" (change)="onStateChange($event.target.value)">
              <option value="" disabled selected hidden>Selecione um estado</option>
              <option *ngFor="let state of states" value="{{ state.sigla }}">{{ state.nome }}</option>
            </select>
            <div *ngIf="this.regionsForm.get('state').touched && this.regionsForm.get('state').invalid">
              <span class="small text-danger">Estado Obrigatório.</span>
            </div>
          </div>
          <div class="col-lg-6 d-flex flex-column mt-4 mt-lg-0">
            <label for="" class="font-weight-bold">Cidade:</label>
            <select name="" id="" class="form-control" formControlName="city" (change)="onCityChange($event.target.value)">
              <option value="" disabled selected hidden>Selecione uma cidade</option>
              <option *ngFor="let city of cities" value="{{ city.nome }}">{{ city.nome }}</option>
            </select>
            <div *ngIf="this.regionsForm.get('city').touched && this.regionsForm.get('city').invalid">
              <span class="small text-danger">Cidade Obrigatória.</span>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <button class="btn btn-light" (click)="addOtherRegion()">
            Adicionar outra região
          </button>
        </div>
        <div class="col-lg-12 mt-3" *ngFor="let region of moreRegions.controls; let index = index;" formArrayName="moreRegions">
          <div *ngIf="clicked" [formGroupName]="index">
            <div class="row">
              <span>Região {{index + 2}}</span>
              <span class="text-danger ml-2" style="cursor: pointer;" (click)="removeRegion(index)">
                Remover
              </span>
            </div>
            <div class="row mt-2">
              <div class="col-lg-6 d-flex flex-column">
                <label for="" class="font-weight-bold">Estado:</label>
                <select name="state" [id]="'state'+index" class="form-control" formControlName="state" (change)="onStateRegionChange($event.target.value)">
                  <option disabled selected hidden>Selecione um estado</option>
                  <option *ngFor="let state of states" value="{{ state.sigla }}" selected>{{ state.nome }}</option>
                </select>
                <div *ngIf="this.region.get('state').touched && this.region.get('state').invalid">
                  <span class="small text-danger">Estado Obrigatório.</span>
                </div>
              </div>
              <div class="col-lg-6 d-flex flex-column mt-4 mt-lg-0">
                <label for="" class="font-weight-bold">Cidade:</label>
                <select name="city" [id]="'city' + index" class="form-control" formControlName="city">
                  <option disabled selected hidden>Selecione uma cidade</option>
                  <option *ngFor="let city of regionCity[index]" value="{{ city.nome }}">{{ city.nome }}</option>
                </select>
                <div *ngIf="this.region.get('city').touched && this.region.get('city').invalid">
                  <span class="small text-danger">Cidade Obrigatória.</span>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-primary py-2 font-600 w-100"  data-dismiss="modal" (click)="setRegions()">
            Cadastrar-se
        </button>
    </div>
    </div>
  </div>
</div>

<full-spinner></full-spinner>
