main {
  background-size: cover;
  background: transparent url('../../../../assets/images/background-white.svg') no-repeat center padding-box;
}

section {
  max-width: 700px;
}

/* .form-control {
  height: 52px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 15px 45%;
  outline: none;
  box-shadow: 0px 3px 8px #00000029;
} */

.btn {
  width: 70%;
}

.ng-select /deep/ .ng-select-container {
  border: none !important;
}
