<main class="w-100">
  <form [formGroup]="operationalForm">
    <div class="col-lg-5 shadow bg-white rounded p-4">
      <h2 class="title-reports">Relatórios Operacionais</h2>
      <div class="row mt-4">
        <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
          <label class="mb-2 text-nowrap label-container">
            <input type="radio" id="partner-all" name="partner" (change)="changeCheck()">
            <span class="span-checkmark"></span>
            Todos
          </label>
          <label class="mt-2 mb-2 text-nowrap label-container">
            <input type="radio" id="partner-only" name="partner" (change)="changeCheck()">
            <span class="span-checkmark"></span>
            Prestador
          </label>
          <input *ngIf="showInput" type="text" name="partnerId" class="form-control-edit mt-2" id="partnerId" formControlName="partnerId">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
          <label for="uf">UF:</label>
          <select name="" id="" class="form-control-edit" (change)="onStateChange($event.target.value)">
            <option selected disabled hidden>Selecione um estado</option>
            <option *ngFor="let state of states" value="{{ state.sigla }}">{{ state.nome }}</option>
          </select>
          <div *ngIf="operationalForm.get('uf').touched && operationalForm.get('uf').invalid">
            <span class="small text-danger">Estado é obrigatório.</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2 mt-3 mt-sm-0 mt-md-0 mt-lg-0">
          <label for="city">Cidade:</label>
          <select name="" id="" class="form-control-edit" (change)="onCityChange($event.target.value)">
            <option selected disabled hidden>Selecione uma cidade</option>
            <option *ngFor="let city of cities" value="{{ city.nome }}">{{ city.nome }}</option>
          </select>
          <div *ngIf="operationalForm.get('city').touched && operationalForm.get('city').invalid">
            <span class="small text-danger">Cidade é obrigatória.</span>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12 col-lg-12 d-flex flex-column pl-2">
          <label for="">Período:</label>
            <div class="row align-items-center pl-3" style="vertical-align: middle;">
              <input type="date" class="form-control-edit col-lg-5" id="of" formControlName="of">
              <strong class="col-lg-1 text-center">a</strong>
              <input type="date" class="form-control-edit col-lg-5" id="until" formControlName="until">
            </div>
            <div *ngIf="(operationalForm.get('of').touched && operationalForm.get('of').invalid) || (operationalForm.get('until').touched && operationalForm.get('until').invalid)">
              <span class="small text-danger">Período é obrigatório.</span>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12 d-flex flex-column justify-content-end pl-2 mt-3">
          <label class="mb-2 text-nowrap label-container">
            <input type="checkbox" id="bill" value="1" formControlName="bill">
            <span class="span-checkmark"></span>
            Gerar fatura
          </label>
        </div>
        <div class="col-sm-6 col-lg-6 mt-5">
          <button class="btn btn-primary w-75" (click)="find()" data-toggle="modal" data-target="#ExemploModalCentralizado">Buscar</button>
        </div>
      </div>
    </div>
  </form>
</main>

<app-report-modal
  [uf]="uf"
  [city]="city"
  [of]="period_of"
  [until]="period_until"
  [bill]="bill"
  [isAll]="isAll"
  [partnerId]="partnerId"
></app-report-modal>
