<app-page-back source="Cadastro"></app-page-back>
<main class="d-flex justify-content-center px-3 pb-lg-4">
  <section>
    <div class="text-center mb-3">
      <h2 class="font-size21px font-700">
        Pagamento
      </h2>
    </div>

    <div class="d-flex flex-column align-items-center btn-primary py-4 mb-4 radius10">
      <h5 class="font-700">{{ plan === '1' ? 'Plano Rebox': 'Plano Rebox+' }}</h5>
      <h3 *ngIf="payment_method !== 'debito' && payment_method !== 'boleto'" class="font-600">
        12x
        <span class="font-size44px">
          {{ plan === '1' ? '19,90': '34,90' }}
        </span>
      </h3>
      <h3 *ngIf="payment_method === 'debito' || payment_method === 'boleto'" class="font-600">
        <span class="font-size44px">
          {{ plan === '1' ? '238,80': '418,80' }}
        </span>
      </h3>
    </div>

    <div class="text-center px-3">
      <p *ngIf="!payment_method">
        Escolha a forma de pagamento
      </p>
      <p *ngIf="payment_method && payment_method !== 'boleto'">
        Preencha as informações necessárias para finalizar sua compra.
      </p>
    </div>

    <div class="d-flex flex-column align-items-center" *ngIf="!payment_method">
      <div class="font-500 radius10 w-100 py-4 px-4 mb-3 b-shadow pointer" (click)="payment_method = 'credito'">
        <span class="mr-3">
          <img src="assets/images/credit-card.svg" alt="Credit card">
        </span>
        Cartão de crédito (até 12 vezes sem juros) </div>
        <div class="font-500 radius10 w-100 py-4 px-4 mb-3 b-shadow pointer" (click)="payment_method = 'debito'">
          <span class="mr-3">
            <img src="assets/images/credit-card.svg" alt="Credit card">
          </span>
          Cartão de débito (à vista) </div>
          <!-- <div class="font-500 radius10 w-100 py-4 px-4 b-shadow pointer" (click)="payment_method = 'boleto'">
            <span class="mr-3">
              <img src="assets/images/credit-card.svg" alt="Credit card">
            </span>
            Boleto
          </div> -->
        </div>

        <form *ngIf="payment_method && payment_method !== 'boleto'" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div>
              <input type="text" class="form-control pl-2 border-0 py-4 mt-3 b-shadow" name="cpf" placeholder="CPF"
              mask="000.000.000-00" formControlName="cpf">
              <span class="font-size12px ml-1">
                *O CPF informado deve ser o do titular do cartão.
              </span>
            </div>
          </div>

          <div class="form-group">
            <div>
              <input type="text" class="form-control pl-2 border-0 py-4 mt-3 b-shadow" name="name"
              placeholder="Nome do titular" formControlName="cred_name">
              <span class="font-size12px ml-1">
                *O nome informado deve ser como está no cartão.
              </span>
            </div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control pl-2 border-0 py-4 my-3 b-shadow" name="cred_number"
            placeholder="Número do cartão" mask="0000 0000 0000 0000" formControlName="cred_number">
          </div>

          <div class="form-group d-lg-flex">
            <div class="w-100 mr-md-4">
              <input type="tel" class="form-control pl-2 border-0 py-4 mt-3 b-shadow mr-lg-4" name="validity"
              placeholder="Validade (mm/yyyy)" mask="00/0000" formControlName="validity">
              <span class="font-size12px ml-1">
                *mm/yyyy
              </span>
            </div>
            <input type="text" class="form-control pl-2 border-0 py-4 my-3 b-shadow" name="cvv" placeholder="CVV"
            mask="0009" formControlName="cred_verification">

          </div>
          <div class="form-group d-lg-flex">
            <div class="w-100 mr-md-4">
              <select *ngIf="payment_method === 'credito'" name="" id="" class="form-control" (change)="paymentForm.get('portion').patchValue($event.target.value)">
                <option selected disable hidden>Selecione o número de parcelas</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              <div *ngIf="paymentForm.get('portion').touched && paymentForm.get('portion').invalid">
                <span class="small text-danger">Número de Parcelas obrigatório</span>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <button type="submit" class="btn btn-primary w-75 py-2 my-3 font-600">
              Continuar
            </button>

            <button class="btn d-flex align-items-center position-relative w-75 b-font-600 b-shadow py-2 my-3"
            (click)="payment_method = null">
            <span>
              <img src="assets/images/back.svg" style="width: 15px; height: auto;">
            </span>
            <p class="position-absolute w-100 text-center">
              Voltar
            </p>

          </button>
          <p class="text-center">
            Li e concordo com os
            <a class="font-weight-bold" style="cursor: pointer;" data-toggle="modal" data-target="#terms">Termos de Uso</a>
            e
            <a class="font-weight-bold" style="cursor: pointer;" data-toggle="modal" data-target="#policies">Política de Privacidade.</a>
          </p>
        </div>
      </form>

      <form *ngIf="payment_method === 'boleto'" [formGroup]="paymentForm">
        <div class="form-group d-flex flex-column justify-content-center align-items-center">
          <div class="d-flex flex-column">
            <span class="barcode text-center">Código de barras:</span>
            <div class="barcode-box bg-white shadow p-4 mt-3">
              <div class="d-flex justify-content-center">
                <span class="barcode-number text-center" >0000000000000000000000000 00000000000000000</span>
                <input type="text" class="d-none" id="barcode" value="0000000000000000000000000 00000000000000000" #value>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <span class="info text-center mt-3">O boleto tem prazo de compensação de até 2 dias úteis.</span>
            </div>
            <div class="d-flex flex-column justify-content-center">
              <button type="button" class="btn btn-cancel mt-4" (click)="copyBarCode(value)">Copiar código</button>
              <button class="btn btn-primary mt-2">Continuar</button>
              <button class="btn d-flex align-items-center position-relative b-font-600 b-shadow py-1 my-3"
              (click)="payment_method = null">
              <span>
                <img src="assets/images/back.svg" style="width: 15px; height: auto;">
              </span>
              <p class="position-absolute w-100 text-center">
                Voltar
              </p>
            </button>
            <p class="text-center mt-2">
              Li e concordo com os
              <a class="font-weight-bold" style="cursor: pointer;" data-toggle="modal" data-target="#terms">Termos de Uso</a>
              e
              <a class="font-weight-bold" style="cursor: pointer;" data-toggle="modal" data-target="#policies">Política de Privacidade.</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>

<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Termos e condições</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-terms-and-conditions></app-terms-and-conditions>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="policies" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Política de privacidade</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-privacy-policy></app-privacy-policy>
      </div>
    </div>
  </div>
</div>

<full-spinner></full-spinner>
