.form-control {
  outline: none;
}

section {
  width: 600px;
}

.barcode {
  color: #1A1A1A;
  font-size: 18px;
  font-weight: bold;
}

.barcode-box {
  border-radius: 10px;
}

.barcode-number {
  max-width: 300px;
  width: 100%;
  text-align: center;
}

.barcode-number {
  color: #1A1A1A;
  font-weight: 600;
}

.info {
  max-width: 278px;
  width: 100%;
  color: #1A1A1A;
  font-size: 15px;
}

a {
  text-decoration: none;
}
