<section class="pb-4">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center py-3">
      <h2 class="font-600 pb-2 pb-md-0">Prestadores</h2>
      <input type="search" placeholder="Buscar por nome, tipo ou data" (keyup)="findPartner($event.target.value)">
  </div>

  <div class="py-3">
      <table class="table table-responsive">
          <tr class="text-nowrap text-center">
              <th>Código</th>
              <th>Nome</th>
              <th>CNPJ</th>
              <th>E-mail</th>
              <th>Telefone</th>

              <th class="d-none d-md-block"></th>
          </tr>
          <tr *ngFor="let partner of partners?.data | paginate: { itemsPerPage: partners?.perPage, currentPage: page, totalItems: partners?.total}" class="text-nowrap text-center" (click)="goPartner(partner?.partner_id)">
              <td>{{ partner?.cod? partner?.cod: 'Não Informado' }}</td>
              <td>{{ partner?.company_name ? partner?.company_name : partner?.name }}</td>
              <td *ngIf="partner?.cnpj">{{ partner?.cnpj? (partner?.cnpj | mask: '00.000.000/0000-00'): 'Não Informado'}}</td>

              <td>{{ partner?.email }}</td>
              <td>{{ partner.contact? (partner?.contact1 | mask: '(00) 0 0000-0000'): 'Não informado' }}</td>

              <td class="position-absolute d-none d-md-block">
                <img src="assets/images/arrow-down.svg" class="arrow-right">
              </td>
          </tr>
          <tr>
              <td *ngIf="partners?.total === '0' && !isLoading" colspan="5">
                  Nenhum cliente encontrado
              </td>
          </tr>
          <tr *ngIf="isLoading">
              <td class="position-relative" colspan="6" style="height: 60px">
                  <full-spinner></full-spinner>
              </td>
          </tr>
      </table>
  </div>

  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
    <div>
      <button class="btn btn-primary" routerLink="register">Cadastrar prestador</button>
    </div>
      <div>
          <pagination-controls
              class="my-pagination"
              (pageChange)="changePage($event)"
              previousLabel="Anterior"
              nextLabel="Próxima">
          </pagination-controls>
      </div>

  </div>
</section>

<full-spinner></full-spinner>
