section {
    width: 600px;
}

.form-control {
    height: 52px;
    padding-left: 50px;
    background-image: url("../../../../../assets/images/pickup-car.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 15px 45%;
    outline: none;
    box-shadow: 0px 3px 8px #00000029;
}

.add-pointer {
    cursor: pointer;
    transition: .5s;
}

.add-pointer:hover {
    color: #053AC1;
}

.btn {
    width: 70%;
}